Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

risolto typo su "contententi"
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

risolto typo su "lavori"
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

specificato che le API verranno fornite dal proponente
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

modificati ruoli da "Referente aziendale" a "Membro azienda proponente" dei partecipanti esterni (eccetto bassani)
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

modificato da "gli avanzamenti svolti sui PoC" a "i progressi sui PoC"
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

modificata sintassi di un punto delle Considerazioni su feature del PoC
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

modifica nei ruoli Preventivo Costi
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Definiti requisiti funzionali per UC6 a UC10
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

caricamento verbale 23-12-17
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

Aggiunto changelog vuoto
  2 - RTB/Documentazione interna/Verbali/23-12-17/log.csv
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

Publish document Piano di Progetto (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.0.0.pdf
Labels: RTB

Publish document 23-12-17 (v)
  2 - RTB/Documentazione interna/Verbali/23-12-17_v.pdf
Labels: RTB, Verbale

update secondo indicazioni silvio
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB

Publish document Piano di Qualifica (v)
  2 - RTB/Documentazione esterna/Piano di Qualifica_v.pdf
Labels: RTB

tolto incipit ordine del giorno
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

aggiunta Considerazioni sull'Analisi dei Requisiti
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

aggiunto riferimento al fatto che cambiamo da mySQL a PostgreSQL
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

modifica da "necessitano" a "potranno essere reperite"
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

tolto "non è richiesto ma"
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

modificato Organizzazione meeting futuri
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

aggiunto un "di" dove mancava
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

aggiunta la maiuscola al primo punto delle liste puntate
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

tolto "è indietro" e modificata la frase
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

specificato che il verificatore cambierà ruolo occasionalmente in programmatore
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

Definita classificazione di implementazione
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

aggiunta maiuscola sui ruoli e corretto typo
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

modifica Dispositivi utilizzati dall'utente
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

Corretto bug versionamento fetch_info.yml
  .github/workflows/fetch_info.yml
Labels: Actions

Aggiunti dettagli di rilascio
  log.csv
Labels: none

Inserimento automatico marcatore termine di glossario
  template.typ
Labels: none

Cambiamenti cosmetici
  template.typ
Labels: none

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-17/log.csv
Labels: RTB, Verbale

Corretto path glossario e risolto problema di compilazione
  .github/workflows/compile_document.yml
  2 - RTB/Glossario/Glossario.typ
  Glossario.json
  template.typ
Labels: RTB, Glossario, Actions

Aggiunti dettagli di rilascio
  2 - RTB/Glossario/log.csv
Labels: RTB

Corrette dichiarazioni tabelle
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Corretti typo
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

scritto proponente con la maiuscola
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"
