Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Verbale esterno, Verbale interno, Norme di Progetto, Analisi dei rischi, Piano di Progetto

.github/labeler.yml:

'Candidatura':
- '1 - Candidatura/**'

'RTB':
- '2 - RTB/**'

'CA':
- '4 - CA/**'

'PB':
- '3 - PB/**'

'Verbale esterno':
- 'Verbali/Esterni/**'

'Verbale interno':
- 'Verbali/Interni/**'

'Norme di Progetto':
- 'Norme di Progetto.*'

'Analisi dei rischi':
- 'Analisi dei rischi.*'

'Piano di Progetto':
- 'Piano di Progetto.*'

Fix var
  .github/workflows/fetch_info.yml
Labels: none

Pubblicazione documento
  2 - RTB/Documentazione esterna/prova5/prova.typ
Labels: RTB

correzione ruoli
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/23-11-05.typ
Labels: RTB

aggiunto ordine del giorno
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/23-11-05.typ
Labels: RTB

correzioni ortografiche
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/23-11-05.typ
Labels: RTB

sistemati i ruoli
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10/23-11-10.typ
Labels: RTB

moglioria espositiva e correzioni semantiche/sintattiche
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10/23-11-10.typ
Labels: RTB

aggiunto ordine del giorno
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10/23-11-10.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10/log.csv
Labels: RTB

scrittura norme documentazione
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB

aggiunta punteggiatura elenco puntato
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/23-11-05.typ
Labels: RTB

correzione typo
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/23-11-05.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/log.csv
Labels: RTB

modifiche richieste in pr
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-13.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/log.csv
Labels: RTB

modificato il numero di sprint coem da riunione
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-13.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/log.csv
Labels: RTB

Corretto punteggiatura
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-13.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/log.csv
Labels: RTB

Publish document 23-11-13.pdf
  2 - RTB/Documentazione interna/Verbali/23-11-13.pdf
Labels: RTB

modificata numerazione sottotitoli
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/23-11-05.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/log.csv
Labels: RTB

corretta scritta LaTeX
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10/23-11-10.typ
Labels: RTB

modificata numerazione sottotitoli
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10/23-11-10.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10/log.csv
Labels: RTB

coninuazione norme di progetto - documentazione
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB

Publish document 23-11-10.pdf
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10.pdf
Labels: RTB

Publish document 23-11-05.pdf
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05.pdf
Labels: RTB

Eliminazione pdf generato in posizione sbagliata
  2 - RTB/Documentazione interna/Verbali/23-11-13.pdf
Labels: RTB

refactor
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-13/23-11-13.typ
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-13/log.csv
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-13/log.csv
Labels: RTB

Publish document 23-11-13.pdf
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-13.pdf
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

aggiunto UC-1
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

Update changelog
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

Update changelog
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

Rinomina cartella candidatura in 1 - Candidatura
  1 - Candidatura/Preventivo dei costi/Preventivo dei costi.typ
  1 - Candidatura/Preventivo dei costi/log.csv
Labels: Candidatura

Update changelog
  1 - Candidatura/Preventivo dei costi/log.csv
Labels: Candidatura

Eliminazione cartella Candidatura
  Candidatura/Preventivo dei costi.pdf
Labels: none
