Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

Aggiornato preambolo AdR
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Aggiornato preambolo PdP
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Aggiornato preambolo PdQ
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Aggiornato preambolo verbale esterno 23-11-15
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
Labels: RTB, Verbale

Aggiornato quickstart con variabile location commentata
  quickstart.txt
Labels: none

Aggiunta location nel preambolo verbale esterno 23-11-15
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
Labels: RTB, Verbale

Aggiornato preambolo verbale esterno 23-11-23
  2 - RTB/Documentazione esterna/Verbali/23-11-23/23-11-23.typ
Labels: RTB, Verbale

Aggiornato preambolo verbale esterno 23-12-06
  2 - RTB/Documentazione esterna/Verbali/23-12-06/23-12-06.typ
Labels: RTB, Verbale

Aggiornato preambolo verbale esterno 23-12-15
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

Aggiornato preambolo NdP
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiornato preambolo verbale interno 23-11-05
  2 - RTB/Documentazione interna/Verbali/23-11-05/23-11-05.typ
Labels: RTB, Verbale

Aggiornato preambolo verbale interno 23-11-10
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
Labels: RTB, Verbale

Aggiornato preambolo verbale interno 23-11-13
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
Labels: RTB, Verbale

Aggiornato preambolo verbale interno 23-11-19
  2 - RTB/Documentazione interna/Verbali/23-11-19/23-11-19.typ
Labels: RTB, Verbale

Aggiornato preambolo verbale interno 23-11-23
  2 - RTB/Documentazione interna/Verbali/23-11-23/23-11-23.typ
Labels: RTB, Verbale

Corretto preambolo verbale esterno 23-12-06
  2 - RTB/Documentazione esterna/Verbali/23-12-06/23-12-06.typ
Labels: RTB, Verbale

Invertito cognome e nome del referente aziendale in quickstart e verbali esterni 23-11-15, 23-11-23
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-23/23-11-23.typ
  quickstart.txt
Labels: RTB, Verbale

Redatto preventivo ottavo sprint
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Redatto processo
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

piccolo cambio secondo specifiche
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

piccolo update agli elenchi
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Publish document Norme di Progetto (v1.11.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
  2 - RTB/Documentazione interna/Norme di Progetto_v1.11.0.pdf
Labels: RTB

Publish document Norme di Progetto (v1.0.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
  2 - RTB/Documentazione interna/Norme di Progetto_v1.11.0.pdf
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

Publish document Piano di Progetto (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.0.0.pdf
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB

Riformulata la frase
  2 - RTB/Documentazione interna/Verbali/23-12-23/23-12-23.typ
Labels: RTB, Verbale

Aggiunta chiamata al workflow di deploy
  .github/workflows/typst_workflow.yml
Labels: Actions

Restaurato ordine dei parametri
  .github/workflows/typst_workflow.yml
Labels: Actions

Aggiunti dettagli di rilascio
  log.csv
Labels: none

modifica
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Publish document Norme di Progetto (v1.0.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
Labels: RTB

Redatto verbale interno retrospettiva 23-12-31
  2 - RTB/Documentazione interna/Verbali/23-12-31/23-12-31.typ
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-23/log.csv
Labels: RTB, Verbale

Publish document 23-12-23 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-12-23_v1.0.0.pdf
Labels: RTB, Verbale

Aggiunto changelog vuoto
  2 - RTB/Documentazione interna/Verbali/23-12-31/log.csv
Labels: RTB, Verbale

Publish document Piano di Qualifica (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Qualifica_v.pdf
  2 - RTB/Documentazione esterna/Piano di Qualifica_v1.0.0.pdf
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

Publish document Piano di Progetto (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.0.0.pdf
Labels: RTB

Allineamento rows tabelle
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"
