Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"

Publish document Analisi dei Requisiti (v1.0.0)
  2 - RTB/Documentazione esterna/Analisi dei Requisiti_v1.0.0.pdf
Labels: RTB

Publish document 23-12-10 (v)
  2 - RTB/Documentazione interna/Verbali/23-12-10_v.pdf
Labels: RTB, Verbale

modifiche secondo pr
  2 - RTB/Documentazione interna/Verbali/23-12-06/23-12-06.typ
Labels: RTB, Verbale

update secondo indicazioni
  2 - RTB/Documentazione esterna/Verbali/23-12-06/23-12-06.typ
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-06/log.csv
Labels: RTB, Verbale

Publish document 23-12-06 (v)
  2 - RTB/Documentazione interna/Verbali/23-12-06_v.pdf
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Verbali/23-12-06/log.csv
Labels: RTB, Verbale

Publish document 23-12-06 (v)
  2 - RTB/Documentazione esterna/Verbali/23-12-06_v.pdf
Labels: RTB, Verbale

Aggiornamenti minori
  2 - RTB/Documentazione esterna/Verbali/23-12-06/23-12-06.typ
Labels: RTB, Verbale

Publish document 23-12-06 (v)
  2 - RTB/Documentazione esterna/Verbali/23-12-06_v.pdf
Labels: RTB, Verbale

[skip ci] Rimosse regole Typst deprecate
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
  2 - RTB/Documentazione interna/Verbali/23-11-05/23-11-05.typ
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
Labels: RTB, Piano di Progetto, Verbale

Aggiunti UC mancanti e riordinati
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Publish document Analisi dei Requisiti (v1.0.0)
  2 - RTB/Documentazione esterna/Analisi dei Requisiti_v1.0.0.pdf
Labels: RTB

Redigere sezione Technical Management process configuration management
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/imgs/esempio_tracciamento_modifiche.png
  2 - RTB/Documentazione interna/Norme di Progetto/imgs/github_actions_workflow.png
Labels: RTB, Norme di Progetto

Caricamento verbale 06/12/23 firmato
  2 - RTB/Documentazione esterna/Verbali/23-12-06_v.pdf
  2 - RTB/Documentazione esterna/Verbali/23-12-06_v1.0.0.pdf
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

aggiornamento immagine PNG con SVG per flusso action
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/imgs/flusso_actions.svg
Labels: RTB, Norme di Progetto

Apportate modifiche richieste in PR
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Rimozione reference non funzionante
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiunto consuntivo quinto sprint
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

apportate modifiche richieste in PR
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

rimosso i "mini" e aggiunto poc dockerizzato
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

riformulazione primo punto delle risoluzioni attuate
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

da "il weekend" a "nel weekend"
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

aggiunte ore di lavoro ai programmatori nella tabella
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

Definiti requisiti di vincolo
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Specificata la data del verbale esterno
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Publish document Norme di Progetto (v1.0.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
Labels: RTB

Publish document Analisi dei Requisiti (v1.0.0)
  2 - RTB/Documentazione esterna/Analisi dei Requisiti_v1.0.0.pdf
Labels: RTB

Definizione della struttura
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Whitespace
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Definita direttiva
  template.typ
Labels: none

Definito indice delle tabelle
  template.typ
Labels: none

Definito indice delle immagini
  template.typ
Labels: none

Aggiornata lista dei parametri
  quickstart.txt
Labels: none

Creato file vuoto per agevolare compilazione locale
  log.csv
Labels: none

creato Glossario.json
  2 - RTB/Glossario/Glossario.json
Labels: RTB, Glossario

Adeguato il documento per l'uso del JSON
  2 - RTB/Glossario/Glossario.typ
Labels: RTB, Glossario

Publish document Glossario (v)
  2 - RTB/Glossario_v.pdf
Labels: RTB
