Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

Sostituzione immagine con table nel paragrafo di configurazione
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/imgs/esempio_tracciamento_modifiche.png
Labels: RTB, Norme di Progetto

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

Publish document Norme di Progetto (v1.0.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
Labels: RTB

Update log.cs con tracciamento della issue
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

messo Glossario maiuscolo
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

messo normare minuscolo
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

Revisionati UC e loro relativi diagrammi UML
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc1.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc10.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc2.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc3.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc4.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc5.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc6.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc7.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc8.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc9.png
Labels: RTB, Analisi dei Requisiti

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

Publish document Piano di Progetto (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.0.0.pdf
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.2.0.pdf
Labels: RTB

Aggiunto preventivo sprint sei
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Publish document Piano di Progetto (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.0.0.pdf
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

aggiunta della figura del programmatore nel preventivo del quarto sprint
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

Aggiunto paragrafo Information Management
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

Publish document Analisi dei Requisiti (v1.0.0)
  2 - RTB/Documentazione esterna/Analisi dei Requisiti_v1.0.0.pdf
Labels: RTB

Apportate modifiche richieste in Review
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Publish document Norme di Progetto (v1.0.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
Labels: RTB

caricamento verbale 23-12-15
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

Aggiunto changelog vuoto
  2 - RTB/Documentazione esterna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

caricamento verbale 23-12-15
  2 - RTB/Documentazione interna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

Aggiunto changelog vuoto
  2 - RTB/Documentazione interna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

Corretta numerazione sezioni dopo UC
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

Publish document 23-12-15 (v)
  2 - RTB/Documentazione interna/Verbali/23-12-15_v.pdf
Labels: RTB, Verbale

Definito codice identificativo dei requisiti
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Creato Piano di Qualifica
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Aggiunto changelog vuoto
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB

Aggiunti riferimenti normativi
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Whitespace
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Definiti gli stakeholder
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Sviluppo paragrafo
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Scritti requisiti funzionali riferiti agli UC 1-5
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Corretto estensioni UC-1.2, UC-2
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Corretti diagrammi UC1, UC2, UC4
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc1.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc2.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc4.png
Labels: RTB

aggiunto ";"
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

da "feature del PoC" a "feature dei PoC"
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

modificata sintassi in Considerazioni su feature del PoC
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"
