Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

tolto "si impegna a definire" e messo "definisce"
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiunta specifica dei valori che possono assumere le metriche di impatto e probabilità
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

approccio al documento
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Redatto tracciamento requisiti-fonte UC-6
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Redatto tracciamento requisiti-fonte UC-7, UC-8, UC-9, UC-10
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

modificati i punti di Risultati
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

messe le maiuscole in Gestione dei Rischi in tutto il documento
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

modificato da "venire individuati" a "essere individuati"
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

aggiunti gli "\" per andare a capo in modo corretto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

modificato terzo punto di "Analizzare i rischi"
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

modificato "Trattare i rischi"
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

tolta menzione alle "misure"
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

modificato da "una priorità " a "di priorità"
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

update norme di progetto sotto indicazioni
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

tolto "fonti"
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

rimosso secondo punto di "Monitorare i rischi"
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

update norme di progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

modificato Pianificare la Gestione dei Rischi
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

modificato Monitorare i rischi
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

DOC-294 Aggiornata struttura
  Glossario.json
Labels: Glossario

DOC-297 Aggiornata importazione termini
  2 - RTB/Glossario/Glossario.typ
Labels: RTB, Glossario

DOC-295 Aggiornato comando per gestire nuova struttura
  .github/workflows/deploy_website.yml
Labels: Actions

DOC-296 Aggiornato template
  template.typ
Labels: none

Redatta analisi di retrospettiva
  2 - RTB/Documentazione interna/Verbali/23-12-23/23-12-23.typ
Labels: RTB, Verbale

Aggiunto changelog vuoto
  2 - RTB/Documentazione interna/Verbali/23-12-23/log.csv
Labels: RTB, Verbale

Scritti paragrafi avanzamento e pianificazione
  2 - RTB/Documentazione interna/Verbali/23-12-23/23-12-23.typ
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Glossario/log.csv
Labels: RTB

Resa l'evidenziazione case insensitive
  template.typ
Labels: none

Aggiunti dettagli di rilascio
  log.csv
Labels: none

metriche qualità del prodotto
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

tolto indice immagini
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

sistemata math sintax
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

Publish document Analisi dei Requisiti (v1.0.0)
  2 - RTB/Documentazione esterna/Analisi dei Requisiti_v1.0.0.pdf
  2 - RTB/Documentazione esterna/Analisi dei Requisiti_v1.6.0.pdf
Labels: RTB

Redatto consuntivo sprint 7
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Corretto maiuscole elenchi
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Riorganizzato punto 2 delle problematiche
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Invertiti punto 2 e 3 delle problematiche
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Aggiornato quickstart
  quickstart.txt
Labels: none

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"
