Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

Scritto POC nella forma corretta (PoC)
  Glossario.json
Labels: Glossario

Apportate modifiche richieste in review
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

automazione modifica glossario
  .github/workflows/glossario_workflow.yml
Labels: Actions

Publish document Piano di Progetto (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.0.0.pdf
Labels: RTB

Correzioni minori
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-17/log.csv
Labels: RTB, Verbale

Publish document 23-12-17 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-12-17_v.pdf
  2 - RTB/Documentazione interna/Verbali/23-12-17_v1.0.0.pdf
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

Publish document Piano di Progetto (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.0.0.pdf
Labels: RTB

Rimosso commento
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

aggiunta enumerazione elenchi puntati
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Corretto aggettivo
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Rimosso corsivo
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

Publish document Norme di Progetto (v1.0.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
Labels: RTB

Aggiunto parser per il preambolo di Typst
  .github/scripts/parse_frontmatter.py
Labels: Actions

Aggiunta GHA per generazione della pagina (DOC-247)
  .github/workflows/deploy_website.yml
Labels: Actions

Pubblicato sito web
  .github/workflows/deploy.yml
  .gitignore
  README.md
  astro.config.mjs
  common.ts
  package-lock.json
  package.json
  public/favicon.svg
  src/assets/logo.webp
  src/components/ChangelogTable.astro
  src/components/DocumentDetails.astro
  src/content/config.ts
  src/content/docs/ca/introduzione.md
  src/content/docs/index.mdx
  src/content/docs/introduzione/sezioni.mdx
  src/content/docs/pb/introduzione.md
  src/content/docs/rtb/introduzione.md
  src/env.d.ts
  tsconfig.json
Labels: Actions

Aggiunto badge deploy
  README.md
Labels: none

update norme di progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

metriche fornitura
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Metriche documentazione
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

altro
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Corretto log Piano di Progetto
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

Corretto log Norme di Progetto
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

Corretto log Analisi dei Requisiti
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

code coverage
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Publish document Norme di Progetto (v1.0.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
Labels: RTB

Rimosse righe vuote
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

inseriti riferimenti normativi
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Aggiunti dettagli di rilascio
  log.csv
Labels: none

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

Publish document Analisi dei Requisiti (v1.6.0)
  2 - RTB/Documentazione esterna/Analisi dei Requisiti_v1.0.0.pdf
  2 - RTB/Documentazione esterna/Analisi dei Requisiti_v1.6.0.pdf
Labels: RTB

aggiunte specifiche miglioramento
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

aggiunto valore metriche
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

update norme di progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

update norme di progetto con controllo qualità
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiunta la conformità
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

spostamento sezione 6.3.4 nel posto giusto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

update secondo indicazioni review
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"
