Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

Ridotta tabulazione
  .github/scripts/parse_frontmatter.py
Labels: Actions

Rinominato array
  .github/scripts/parse_frontmatter.py
Labels: Actions

Rimossa variabile di appoggio, whitespace
  .github/scripts/parse_frontmatter.py
Labels: Actions

Fix greymatter malformato
  .github/scripts/parse_frontmatter.py
Labels: Actions

Rinominate funzioni
  .github/scripts/parse_frontmatter.py
Labels: Actions

Modificato formato partecipanti esterni
  .github/scripts/parse_frontmatter.py
Labels: Actions

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-11-23/log.csv
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  log.csv
Labels: none

Aggiornata pagina web di 23-11-23
  src/content/docs/rtb/Documentazione interna/Verbali interni/23-11-23.mdx
Labels: none

Publish document 23-11-23 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-11-23_v1.0.0.pdf
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB

Refactoring transpiler del preambolo
  .github/scripts/parse_frontmatter.py
Labels: Actions

Aggiunti dettagli di rilascio
  log.csv
Labels: none

Aggiornamento pacchetti
  package-lock.json
Labels: none

Rispetta valore di showLog
  src/components/ChangelogTable.astro
Labels: none

Aggiunto stile per badge
  src/components/DocumentDetails.astro
Labels: none

Adeguato frontmatter
  src/components/DocumentDetails.astro
Labels: none

Spostata la descrizione tra gli attributi
  src/components/DocumentDetails.astro
Labels: none

Rinominato parametro
  src/components/DocumentDetails.astro
Labels: none

Aggiornato parametro
  src/content/docs/ca/introduzione.md
  src/content/docs/index.mdx
  src/content/docs/introduzione/sezioni.mdx
  src/content/docs/pb/introduzione.md
  src/content/docs/rtb/Documentazione interna/Verbali interni/23-11-23.mdx
  src/content/docs/rtb/Documentazione interna/Verbali interni/23-12-04.mdx
  src/content/docs/rtb/introduzione.md
Labels: none

Adeguato passagio dei parametri al componente
  src/content/docs/rtb/Documentazione interna/Verbali interni/23-11-23.mdx
  src/content/docs/rtb/Documentazione interna/Verbali interni/23-12-04.mdx
Labels: none

Corretto frontmatter
  src/content/docs/rtb/Documentazione interna/Verbali interni/23-11-23.mdx
  src/content/docs/rtb/Documentazione interna/Verbali interni/23-12-04.mdx
Labels: none

Passaggio dei dati del frontmatter al component
  .github/workflows/deploy_website.yml
Labels: Actions

Correzione typo
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Ignora template.typ in modo affidabile
  .github/workflows/typst_workflow.yml
Labels: Actions

Avvia workflow all'aggiornamento del glossario
  .github/workflows/typst_workflow.yml
Labels: Actions

Revisionata sezione 'Rischi e loro mitigazione'
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Riscritta descrizione per renderla chiara
  .github/workflows/fetch_info.yml
Labels: Actions

Aggiunto glossario tra i file monitorati
  .github/workflows/fetch_info.yml
Labels: Actions

Ignora template per il computo dei file cambiati
  .github/workflows/fetch_info.yml
Labels: Actions

Aggiornata costante bash per riflettere che elabora un file alla volta
  .github/workflows/fetch_info.yml
Labels: Actions

Fail faster
  .github/workflows/fetch_info.yml
Labels: Actions

Revisionata sezione 'Divisione temporale di sviluppo'
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Sostituito le occorrenze di 'team' con 'gruppo'
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Revisionata sezione 'Preventivo dei costi di realizzazione'
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Genera un path specifico per il Glossario
  .github/workflows/fetch_info.yml
Labels: Actions

Spostata estrazione del nome come ausilio alla estrazione del path
  .github/workflows/fetch_info.yml
Labels: Actions

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"
