Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"

Redatta introduzione alla matrice degli stakeholder
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Redatto paragrafo sulle modalità di comunicazione
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Definzione strategia
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Redatto consuntivo sprint 6
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Modificata colorazione grigia tabelle
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Modificata colorazione grigia tabella consuntivo sprint 6
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

modifica Vincoli sui Browser
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

modifica da "nella" a "alla"
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

Publish document Piano di Progetto (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.0.0.pdf
Labels: RTB

modifica titolo soluzioni degli improvements
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

modifica sintassi
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

modifiche sintattiche ultimo punto dei to do
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

modifica da "completate " a " con maggiore costanza"
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

Whitespace
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiornata lista dei riferimenti
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Estensione paragrafo
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Inserimento conformance clause
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Esteso il paragrafo secondo ISO
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Rimosse sezioni implementative
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Apportato correzioni indicate in review
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Risolto bug spazio firma nei documenti esterni
  template.typ
Labels: none

risolti typo
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

da doker a doker compose
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

modificato Vincoli sui browser
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

Redatti preventivo e pianificazione sprint 7
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

aggiunto capitolo Processo di Gestione dei Rischi
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

Publish document 23-12-15 (v1.0.0)
  2 - RTB/Documentazione esterna/Verbali/23-12-15_v1.0.0.pdf
Labels: RTB, Verbale

Adeguato consuntivo quarto sprint e preventivo e consuntivo quinto sprint
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Correzione valore errato consuntivo quinto sprint
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Corretto compiti Verificatore
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

modifica numerazione sottotitoli
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

aggiunte maiuscole nelle liste puntate
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
Labels: RTB, Verbale

Publish document Piano di Progetto (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Progetto_v1.0.0.pdf
Labels: RTB

Apportate modifiche richieste in review nel PdP
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

Rimossi spazi dopo termini chiave
  Glossario.json
Labels: Glossario

Corrette occorrenze del termine 'PoC'
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto
