Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Verbale esterno, Verbale interno, Norme di Progetto, Analisi dei rischi, Piano di Progetto

Update changelogger.yml
  .github/workflows/changelogger.yml
Labels: none

Prova 1
  2 - RTB/Documentazione esterna/prova1/prova.typ
Labels: RTB

Aggiunto changelog vuoto
  2 - RTB/Documentazione esterna/prova1/log.csv
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/prova1/log.csv
Labels: RTB

Whitespace
  2 - RTB/Documentazione interna/Verbali/Esterni/23-11-15/23-11-15.typ
Labels: RTB

Aggiornato sottotitolo del documento
  2 - RTB/Documentazione interna/Verbali/Esterni/23-11-15/23-11-15.typ
Labels: RTB

Revisione della sintassi
  2 - RTB/Documentazione interna/Verbali/Esterni/23-11-15/23-11-15.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Esterni/23-11-15/log.csv
Labels: RTB

Publish document 23-11-15.pdf
  2 - RTB/Documentazione interna/Verbali/Esterni/23-11-15.pdf
Labels: RTB

Update changelogger.yml
  .github/workflows/changelogger.yml
Labels: none

Fix missing reviewer username
  .github/workflows/changelogger.yml
Labels: none

Pubblicazione documento
  2 - RTB/Documentazione esterna/prova2/prova.typ
Labels: RTB

Aggiunto changelog vuoto
  2 - RTB/Documentazione esterna/prova2/log.csv
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/prova2/log.csv
Labels: RTB

Update typst_workflow.yml
  .github/workflows/typst_workflow.yml
Labels: none

Delete matching files
  .github/workflows/typst_workflow.yml
Labels: none

Add current version
  .github/workflows/versioning.yml
Labels: none

ultimi aggiustamenti
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/23-11-13/log.csv
Labels: RTB

Creazione iniziale documento Analisi dei Requisiti
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

caricamento verbale
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-13.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/log.csv
Labels: RTB

Publish document Norme di Progetto.pdf
  2 - RTB/Documentazione interna/Norme di Progetto.pdf
Labels: RTB

Update template path to fix import in local env
  quickstart_verbale.txt
Labels: none

aggiunto verbale del 23-11-10
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10/23-11-10.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-10/log.csv
Labels: RTB

Aggiunto verbale del 23-11-05
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/23-11-05.typ
Labels: RTB

Update changelog
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-05/log.csv
Labels: RTB

Create comment_artifact.yml
  .github/workflows/comment_artifact.yml
Labels: none

Update comment_artifact.yml
  .github/workflows/comment_artifact.yml
Labels: none

Remove current version output
  .github/workflows/versioning.yml
Labels: none

Expose current document version
  .github/workflows/info_fetcher.yml
Labels: none

Update info_fetcher.yml
  .github/workflows/info_fetcher.yml
Labels: none

Add version number to document
  .github/workflows/typst_workflow.yml
Labels: none

Pubblicazione documento
  3 - PB/prova4/prova.typ
Labels: PB

Aggiunto changelog vuoto
  3 - PB/prova4/log.csv
Labels: PB

Aggiunti dettagli di rilascio
  3 - PB/prova4/log.csv
Labels: PB

Publish document Preventivo dei costi.pdf
  Candidatura/Preventivo dei costi.pdf
Labels: none

Update file names
  .github/workflows/comment_artifact.yml
  .github/workflows/compile_document.yml
  .github/workflows/fetch_info.yml
  .github/workflows/label_pr.yml
  .github/workflows/log_changes.yml
  .github/workflows/typst_workflow.yml
  .github/workflows/version_document.yml
Labels: none

.github/labeler.yml:

'Candidatura':
- '1 - Candidatura/**'

'RTB':
- '2 - RTB/**'

'CA':
- '4 - CA/**'

'PB':
- '3 - PB/**'

'Verbale esterno':
- 'Verbali/Esterni/**'

'Verbale interno':
- 'Verbali/Interni/**'

'Norme di Progetto':
- 'Norme di Progetto.*'

'Analisi dei rischi':
- 'Analisi dei rischi.*'

'Piano di Progetto':
- 'Piano di Progetto.*'
