Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"

Apportare modifiche varie richieste
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.typ
Labels: Candidatura, Analisi dei rischi

spostamento file in rtb
  2 - RTB/Documentazione interna/Analisi dei rischi/Analisi dei rischi.typ
  2 - RTB/Documentazione interna/Analisi dei rischi/log.csv
Labels: RTB, Analisi dei rischi

Aggiunte modifiche richieste riguardo typo e maiuscole
  2 - RTB/Documentazione interna/Analisi dei rischi/Analisi dei rischi.typ
Labels: RTB, Analisi dei rischi

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Analisi dei rischi/log.csv
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Analisi dei rischi/log.csv
Labels: RTB

Publish document Analisi dei rischi (v1.0.0)
  2 - RTB/Documentazione interna/Analisi dei rischi_v1.0.0.pdf
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

Publish document Norme di Progetto (v1.0.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
  2 - RTB/Documentazione interna/Norme di Progetto_v1.13.0.pdf
Labels: RTB

Correzione typo
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
Labels: RTB, Verbale

Correzione typo
  2 - RTB/Documentazione interna/Verbali/23-12-23/23-12-23.typ
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-23/log.csv
Labels: RTB, Verbale

Publish document 23-12-15 (v1.0.0)
  2 - RTB/Documentazione esterna/Verbali/23-12-15_v1.0.0.pdf
Labels: RTB, Verbale

Publish document 23-12-23 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-12-23_v1.0.0.pdf
Labels: RTB, Verbale

Corretta la dicitura Norme di Progetto
  2 - RTB/Documentazione interna/Verbali/23-11-05/23-11-05.typ
Labels: RTB, Verbale

Corretta la dicitura Analisi dei Requisiti
  2 - RTB/Documentazione interna/Verbali/23-11-05/23-11-05.typ
Labels: RTB, Verbale

Adattata ultima sezione (to do) nel nuovo formato dei verbali (azioni da intraprendere)
  2 - RTB/Documentazione interna/Verbali/23-11-05/23-11-05.typ
Labels: RTB, Verbale

Correzione typo
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
Labels: RTB, Verbale

Riscrittura dell'ultimo punto della sezione finale in maniera impersonale, aggiunta punteggiatura relativa all'elenco puntato
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
Labels: RTB, Verbale

Corrette alcune diciture
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
Labels: RTB, Verbale

Update 23-11-10.typ
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
Labels: RTB, Verbale

Corretti typo e alcune diciture
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
Labels: RTB, Verbale

Corretta dicitura Analisi dei Requisiti
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
Labels: RTB, Verbale

Corretto typo
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
Labels: RTB, Verbale

Corrette diciture
  2 - RTB/Documentazione esterna/Verbali/23-11-23/23-11-23.typ
Labels: RTB, Verbale

Correzione maiuscole
  2 - RTB/Documentazione interna/Verbali/23-12-06/23-12-06.typ
Labels: RTB, Verbale

Correzione typo
  2 - RTB/Documentazione interna/Verbali/23-12-07/23-12-07.typ
Labels: RTB, Verbale

rimosso corsivo
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Correzione bold
  2 - RTB/Documentazione interna/Verbali/23-12-10/23-12-10.typ
Labels: RTB, Verbale

Correzione maiuscole e punteggiatura
  2 - RTB/Documentazione interna/Verbali/23-12-10/23-12-10.typ
Labels: RTB, Verbale

modifiche capitolo 2.2
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Trasformati bold in sottosezioni e corretto l'uso delle maiuscole
  2 - RTB/Documentazione interna/Verbali/23-12-10/23-12-10.typ
Labels: RTB, Verbale

redatto capitolo 2.3.1.6
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

capitolo 2.3.1.7
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-11-05/log.csv
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-11-10/log.csv
Labels: RTB, Verbale

Publish document 23-11-05 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-11-05_v1.0.0.pdf
Labels: RTB, Verbale

Publish document 23-11-10 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-11-10_v1.0.0.pdf
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-10/log.csv
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-07/log.csv
Labels: RTB, Verbale
