Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-06/log.csv
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Verbali/23-11-23/log.csv
Labels: RTB, Verbale

Publish document 23-11-23 (v1.0.0)
  2 - RTB/Documentazione esterna/Verbali/23-11-23_v1.0.0.pdf
Labels: RTB, Verbale

Update 23-11-13.typ
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
Labels: RTB, Verbale

Update 23-11-15.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-11-13/log.csv
Labels: RTB, Verbale

Corretti due typo
  2 - RTB/Documentazione interna/Verbali/23-11-19/23-11-19.typ
Labels: RTB, Verbale

Corretta la dicitura Proponente
  2 - RTB/Documentazione interna/Verbali/23-11-23/23-11-23.typ
Labels: RTB, Verbale

Corretta la dicitura Proponente
  2 - RTB/Documentazione interna/Verbali/23-11-26/23-11-26.typ
Labels: RTB, Verbale

Corretta la dicitura Norme di Progetto
  2 - RTB/Documentazione interna/Verbali/23-11-26/23-11-26.typ
Labels: RTB, Verbale

Piccole modifiche ad alcune frasi
  2 - RTB/Documentazione interna/Verbali/23-11-26/23-11-26.typ
Labels: RTB, Verbale

Corrette alcune diciture
  2 - RTB/Documentazione interna/Verbali/23-12-03/23-12-03.typ
Labels: RTB, Verbale

Publish document 23-11-13 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-11-13_v1.0.0.pdf
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Verbali/23-11-15/log.csv
Labels: RTB, Verbale

Publish document 23-11-15 (v1.0.0)
  2 - RTB/Documentazione esterna/Verbali/23-11-15_v1.0.0.pdf
Labels: RTB, Verbale

Riformulata l'ultima sezione
  2 - RTB/Documentazione interna/Verbali/23-12-04/23-12-04.typ
Labels: RTB, Verbale

Corrette diciture
  2 - RTB/Documentazione interna/Verbali/23-12-04/23-12-04.typ
Labels: RTB, Verbale

Aggiornamento link relativo al documento Analisi dei rischi
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiunto Nardo Silvio tra i redattori
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Correzione typo
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Aggiunto secondo autore e sottotitolo
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Esplicitato i link e corretto quelli alla repo
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Corretto maiuscole e inserito display formule
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Publish document 23-11-19 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-11-19_v1.0.0.pdf
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-03/log.csv
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-11-26/log.csv
Labels: RTB, Verbale

Publish document 23-11-26 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-11-26_v1.0.0.pdf
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-04/log.csv
Labels: RTB, Verbale

Publish document 23-12-04 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-12-04_v.pdf
  2 - RTB/Documentazione interna/Verbali/23-12-04_v1.0.0.pdf
Labels: RTB, Verbale

Aggiornata pagina web di 23-12-04
  src/content/docs/rtb/Documentazione interna/Verbali interni/23-12-04.mdx
Labels: none

Aggiunta invozione API ChatGPT
  .github/scripts/spell_checker.py
Labels: Actions

Aggiunta GHA di supporto
  .github/workflows/check_spelling.yml
Labels: Actions

Modificata versione
  2 - RTB/Documentazione interna/Analisi dei rischi/log.csv
Labels: RTB

aggiunto numero di versione
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Update 23-11-23.typ
  2 - RTB/Documentazione interna/Verbali/23-11-23/23-11-23.typ
Labels: RTB, Verbale

Esplicitato argomenti T7 e T8
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Corretto grey matter
  src/content/docs/rtb/Documentazione interna/Verbali interni/23-12-04.mdx
Labels: none

Risolto problema di formattazione elenco
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Commentato metriche che non trovano riscontro pratico per il momento
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: RTB

Whitespace
  .github/scripts/parse_frontmatter.py
Labels: Actions
