Repository Error-418-SWE/Documenti, changes with the labels that .github/labeler.yml gives for each.
All labels: Candidatura, RTB, CA, PB, Analisi dei rischi, Analisi dei Requisiti, Glossario, Lettera di presentazione, Manuale d'uso, Norme di Progetto, Piano di Progetto, Piano di qualifica, Specifica tecnica, Verbale, Actions

adeguato il rischio "Comunicazione con il proponente"
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.typ
Labels: Candidatura, Analisi dei rischi

aggiornato il rischio "Effetto sottomarino"
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.typ
Labels: Candidatura, Analisi dei rischi

Apportate modifiche richieste in review
  2 - RTB/Documentazione interna/Verbali/23-12-31/23-12-31.typ
Labels: RTB, Verbale

Riformulata frase
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Adozione lettera maiuscola per la parola Stakeholder
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Estesa la descrizione degli strumenti di valutazione delle classi di soluzione
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Rimossa indentazione paragrafi consecutivi
  template.typ
Labels: none

Aggiunti dettagli di rilascio
  log.csv
Labels: none

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

Publish document Norme di Progetto (v1.13.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.0.0.pdf
  2 - RTB/Documentazione interna/Norme di Progetto_v1.13.0.pdf
Labels: RTB

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-31/log.csv
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB

Publish document Piano di Qualifica (v1.0.0)
  2 - RTB/Documentazione esterna/Piano di Qualifica_v1.0.0.pdf
Labels: RTB

URL pacchetto ora è espresso in una variabile
  .github/workflows/deploy_website.yml
Labels: Actions

Rimosso elemento non riconosciuto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

URL pacchetto ora è espresso in una variabile
  .github/workflows/deploy_website.yml
Labels: Actions

Rimosso blocco di codice Typst non riconociuto da Pandoc come legale
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

aggiunto nuovo UC e modificata numerazione
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc10.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc11.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc9.png
Labels: RTB, Analisi dei Requisiti

adeguamento rischio "Rallentamento delle attività"
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.typ
Labels: Candidatura, Analisi dei rischi

modificata tabella requisito-fonte
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

aggiornati grafici uml
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc10.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc11.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc9.png
Labels: RTB

Assegnato codice a requisiti qualitativi e vincolo
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei Requisiti

adeguamento rischio "Utilizzo problematico delle tecnologie"
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.typ
Labels: Candidatura, Analisi dei rischi

correzioni varie di sintassi e indentazione
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.typ
Labels: Candidatura, Analisi dei rischi

Aggiunto changelog vuoto
  1 - Candidatura/Analisi dei rischi/log.csv
Labels: Candidatura

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

Publish document Norme di Progetto (v1.13.0)
  2 - RTB/Documentazione interna/Norme di Progetto_v1.13.0.pdf
Labels: RTB

Publish document Analisi dei Requisiti (v1.0.0)
  2 - RTB/Documentazione esterna/Analisi dei Requisiti_v1.0.0.pdf
Labels: RTB

Correzione typo
  2 - RTB/Documentazione interna/Verbali/23-12-31/23-12-31.typ
Labels: RTB, Verbale

Aggiunti dettagli di rilascio
  2 - RTB/Documentazione interna/Verbali/23-12-31/log.csv
Labels: RTB, Verbale

Publish document 23-12-31 (v1.0.0)
  2 - RTB/Documentazione interna/Verbali/23-12-31_v1.0.0.pdf
Labels: RTB, Verbale

Estrapola directory del verbale, se necessario
  .github/workflows/deploy_website.yml
Labels: Actions

Inclusi i verbali nella working directory
  .github/workflows/deploy_website.yml
Labels: Actions

Aggiornato messaggio di commit
  .github/workflows/deploy_website.yml
Labels: Actions

Rimossi step inutili
  .github/workflows/deploy_website.yml
Labels: Actions

Rimossi output di debug
  .github/workflows/deploy_website.yml
Labels: Actions

Aggiunto riferimento allo stato di PR
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Corretto formato codice ticket
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

Aggiunta la maiuscola alle occorrenze di "proponente"
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.typ
Labels: Candidatura, Analisi dei rischi

Cambiate tutte le occorrenze di "team" in "gruppo"
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.typ
Labels: Candidatura, Analisi dei rischi

.github/labeler.yml:

# Configuration file for label_pr.yml

# Milestones +++++++++++++++++++++++++++++++

"Candidatura":
- "1 - Candidatura/**"

"RTB":
- "2 - RTB/**"

"CA":
- "4 - CA/**"

"PB":
- "3 - PB/**"

# Documents ++++++++++++++++++++++++++++++++

"Analisi dei rischi":
- "**/Analisi dei rischi.*"

"Analisi dei Requisiti":
- "**/Analisi dei Requisiti.*"

"Glossario":
- "**/Glossario.*"

"Lettera di presentazione":
- "**/Lettera di presentazione.*"

"Manuale d'uso":
- "**/Manuale d'uso*.*"

"Norme di Progetto":
- "**/Norme di Progetto.*"

"Piano di Progetto":
- "**/Piano di Progetto.*"

"Piano di qualifica":
- "**/Piano di qualifica.*"

"Specifica tecnica":
- "**/Specifica tecnica*.*"

"Verbale":
- "**/Verbali/**"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"
