Repository Error-418-SWE/Documenti, pull requests merged in 2023-10, with the labels that each got.

#7 Feature/6 caricare verbali rimanenti
  .gitignore
  1 - Candidatura/Verbali/Interni/18-10-23.pdf
  1 - Candidatura/Verbali/Interni/21-10-23.pdf
Labels: verbali

#8 Creazione File Domande
  1 - Candidatura/Domande aziende.txt
Labels: documentation

#11 verbale 25-10-23
  1 - Candidatura/Verbali/Interni/25-10-23.pdf
Labels: verbali

#17 Aggiunta tex verbali 26-10, cambiato gitignore
  .gitignore
  File-Tex/Verbale_esterno_26_10.tex
  File-Tex/Verbale_interno_26_10.tex
Labels: documentation

#19 Aggiunti verbali 26 ottobre
  1 - Candidatura/Verbali/Esterni/26-10-23.pdf
  1 - Candidatura/Verbali/Interni/26-10-23.pdf
Labels: documentation

#21 Caricamento verbali 17,18,21 ottobre
  1 - Candidatura/Verbali/Interni/17-10-23.pdf
  1 - Candidatura/Verbali/Interni/18-10-23.pdf
  1 - Candidatura/Verbali/Interni/21-10-23.pdf
Labels: documentation

#22 Caricamento tex file verbali 17-18-21 ottobre
  File-Tex/17-10-23.tex
  File-Tex/18-10-23.tex
  File-Tex/21-10-23.tex
Labels: documentation

#28 Valutazione capitolati
  .gitignore
  1 - Candidatura/Verbali/Interni/Valutazione capitolati.pdf
  File-Tex/Valutazione_capitolati.tex
Labels: documentation

#29 Aggiunta file preventivo costi
  1 - Candidatura/PreventivoCosti.pdf
Labels: documentation

#30 Caricamento lettera di presentazione completa
  1 - Candidatura/LetteraDiPresentazione.pdf
  1 - Candidatura/PreventivoCosti.pdf
Labels: documentation

#31 Consolidamento file sorgente
  File-Tex/Verbali/Esterni/26-10-23.tex
  File-Tex/Verbali/Interni/17-10-23.tex
  File-Tex/Verbali/Interni/18-10-23.tex
  File-Tex/Verbali/Interni/21-10-23.tex
  File-Tex/Verbali/Interni/25-10-23.tex
  File-Tex/Verbali/Interni/26-10-23.tex
  File-Tex/Verbali/Interni/29-10-23.tex
  File-Tex/logo.png
  File-Tex/template.tex
  File-Tex/template_documenti.tex
Labels: enhancement

#32 Aggiunta tex file lettera e preventivo
  File-Tex/LetteraDiPresentazione.tex
  File-Tex/PreventivoCosti.tex
Labels: documentation

#33 Caricamento verbale 30-10-23
  1 - Candidatura/Verbali/Interni/30-10-23.pdf
Labels: documentation

#34 caricamento tex file verbale 30-10-23
  File-Tex/Verbali/Interni/30-10-23.tex
Labels: documentation

#38 Feature/refactoring e adeguamento template
  1 - Candidatura/Lettera Di Presentazione.pdf
  1 - Candidatura/LetteraDiPresentazione.pdf
  1 - Candidatura/Preventivo Costi/Preventivo Costi.pdf
  1 - Candidatura/PreventivoCosti.pdf
  1 - Candidatura/Valutazione Capitolati/Valutazione Capitolati.pdf
  1 - Candidatura/Verbali/Interni/21-10-23.pdf
  1 - Candidatura/Verbali/Interni/30-10-23.pdf
  1 - Candidatura/Verbali/Interni/Valutazione capitolati.pdf
  File .tex/1 - Candidatura/Lettera Di Presentazione.tex
  File .tex/1 - Candidatura/Preventivo Costi/Preventivo Costi.tex
  File .tex/1 - Candidatura/Valutazione Capitolati/Valutazione Capitolati.tex
  File .tex/1 - Candidatura/Verbali/Esterni/26-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/17-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/18-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/21-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/25-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/26-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/29-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/30-10-23.tex
  File .tex/Template/logo.png
  File .tex/Template/template.tex
  File .tex/Template/template_documenti.tex
Labels: documentation, enhancement

#40 reso in chiaro url alla cartella
  1 - Candidatura/Lettera Di Presentazione.pdf
  File .tex/1 - Candidatura/Lettera Di Presentazione.tex
Labels: documentation, enhancement

#42 Aggiunta analisi dei rischi
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.pdf
  File .tex/1 - Candidatura/Analisi dei rischi/Analisi dei rischi.tex
Labels: documentation

#43 Candidatura
  .gitignore
  1 - Candidatura/Analisi dei rischi/Analisi dei rischi.pdf
  1 - Candidatura/Domande aziende.md
  1 - Candidatura/Lettera Di Presentazione.pdf
  1 - Candidatura/Preventivo Costi/Preventivo Costi.pdf
  1 - Candidatura/Valutazione Capitolati/Valutazione Capitolati.pdf
  1 - Candidatura/Verbali/Esterni/26-10-23.pdf
  1 - Candidatura/Verbali/Interni/17-10-23.pdf
  1 - Candidatura/Verbali/Interni/18-10-23.pdf
  1 - Candidatura/Verbali/Interni/21-10-23.pdf
  1 - Candidatura/Verbali/Interni/25-10-23.pdf
  1 - Candidatura/Verbali/Interni/26-10-23.pdf
  1 - Candidatura/Verbali/Interni/29-10-23.pdf
  1 - Candidatura/Verbali/Interni/30-10-23.pdf
  File .tex/1 - Candidatura/Analisi dei rischi/Analisi dei rischi.tex
  File .tex/1 - Candidatura/Lettera Di Presentazione.tex
  File .tex/1 - Candidatura/Preventivo Costi/Preventivo Costi.tex
  File .tex/1 - Candidatura/Valutazione Capitolati/Valutazione Capitolati.tex
  File .tex/1 - Candidatura/Verbali/Esterni/26-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/17-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/18-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/21-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/25-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/26-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/29-10-23.tex
  File .tex/1 - Candidatura/Verbali/Interni/30-10-23.tex
  File .tex/Template/logo.png
  File .tex/Template/template.tex
  File .tex/Template/template_documenti.tex
  README.md
Labels: documentation
