Repository Error-418-SWE/Documenti, pull requests merged in 2023-11, with the labels that each got.

#38 DOC-88 Pubblicazione verbale 19/11/23
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-19/23-11-19.typ
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-19/log.csv
Labels: RTB

#41 DOC-104 Redazione del verbale esterno 23-11-23
  2 - RTB/Documentazione interna/Verbali/Esterni/23-11-23/23-11-23.typ
  2 - RTB/Documentazione interna/Verbali/Esterni/23-11-23/log.csv
Labels: RTB

#42 DOC-105 Redazione verbale interno 23-11-23
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-23/23-11-23.typ
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-23/log.csv
Labels: RTB

#44 DOC-121 Pubblicazione verbale 26/11/23
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-26/23-11-26.typ
  2 - RTB/Documentazione interna/Verbali/Interni/23-11-26/log.csv
Labels: RTB

#43 DOC-53 Aggiunto paragrafo preventivo sprint 2
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB

#50 Aggiornate path etichettatore
  .github/labeler.yml
Labels: Actions

#39 DOC-100 Aggiungere UC da 7 a 11
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

#47 DOC-176 Changelog aggiornato solo in seguito a review positiva
  .github/workflows/log_changes.yml
Labels: Actions

#51 DOC-108 Spostare verbali esterni in documentazione esterna
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-15/log.csv
  2 - RTB/Documentazione esterna/Verbali/23-11-23/23-11-23.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-23/log.csv
  2 - RTB/Documentazione interna/Verbali/23-11-05/23-11-05.typ
  2 - RTB/Documentazione interna/Verbali/23-11-05/log.csv
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
  2 - RTB/Documentazione interna/Verbali/23-11-10/log.csv
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
  2 - RTB/Documentazione interna/Verbali/23-11-13/log.csv
  2 - RTB/Documentazione interna/Verbali/23-11-19/23-11-19.typ
  2 - RTB/Documentazione interna/Verbali/23-11-19/log.csv
  2 - RTB/Documentazione interna/Verbali/23-11-23/23-11-23.typ
  2 - RTB/Documentazione interna/Verbali/23-11-23/log.csv
  2 - RTB/Documentazione interna/Verbali/23-11-26/23-11-26.typ
  2 - RTB/Documentazione interna/Verbali/23-11-26/log.csv
Labels: RTB

#49 DOC-109 Scrivere la sezione Processi di accordo/Fornitura
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#55 DOC-109 Rimossa variabile legacy
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto
