Repository Error-418-SWE/Documenti, pull requests merged in 2023-12, with the labels that each got.

#58 DOC-120 Redatto preventivo dello sprint 4
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#60 DOC-145 Human Resources management process
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#64 Rimosso giorno da log.csv
  .github/workflows/log_changes.yml
Labels: Actions

#54 Completamento UC-1 e UC-2
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc1.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc2.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

#56 DOC-184 Completamento UC-3
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc3.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

#57 DOC-185 Completamento UC-4
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc4.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

#65 DOC-149 Project Planning process
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#68 DOC-213 caricamento verbale 23-12-04
  2 - RTB/Documentazione interna/Verbali/23-12-04/23-12-04.typ
  2 - RTB/Documentazione interna/Verbali/23-12-04/log.csv
Labels: RTB

#66 DOC-187 Completamento UC-6
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc6.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

#67 DOC-188 Completato UC-7
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc7.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

#71 DOC-38 Analisi dei requisiti
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc1.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc2.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc3.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc4.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc5.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc6.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc7.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

#69 DOC-214 Aggiornato e consolidato path per i verbali
  .github/labeler.yml
Labels: Actions

#45 DOC-55 Redatto paragrafo del preventivo dello sprint 3
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#61 DOC-46 Analisi dei rischi
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#74 DOC-218 caricamento verbale 23-12-07
  2 - RTB/Documentazione interna/Verbali/23-12-07/23-12-07.typ
  2 - RTB/Documentazione interna/Verbali/23-12-07/log.csv
Labels: RTB, Verbale

#72 DOC-39 Glossario
  2 - RTB/Glossario/Glossario.typ
  2 - RTB/Glossario/log.csv
  quickstart.txt
  template.typ
Labels: RTB, Glossario

#75 DOC-138 Redazione Organizational/Project Enabling processes
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#76 DOC-139 Redazione Project assessment and control process
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#83 Adeguamento file log.csv al formato a 6 colonne
  1 - Candidatura/Preventivo dei costi/log.csv
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
  2 - RTB/Documentazione esterna/Verbali/23-11-15/log.csv
  2 - RTB/Documentazione interna/Verbali/23-11-05/log.csv
  2 - RTB/Documentazione interna/Verbali/23-11-10/log.csv
  2 - RTB/Documentazione interna/Verbali/23-11-13/log.csv
  2 - RTB/Documentazione interna/Verbali/23-12-04/log.csv
Labels: Candidatura, RTB, Verbale

#77 DOC-221 Modifica ordine nomi e cognomi
  .github/workflows/log_changes.yml
Labels: Actions

#78 DOC-192 Redatte sezione Introduzione e Descrizione del prodotto
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/wms-tradizionale.jpg
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB

#59 DOC-85 Redatto consuntivo dello sprint 3
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#82 DOC-47 Redazione paragrafo analisi dei costi
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

#80 DOC-54 Redatto consuntivo sprint 2
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

#79 DOC-189 Redatto consuntivo sprint 4
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

#81 DOC-140 Redazione paragrafo Decision management process
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#84 Aggiornato path documento Analisi dei Requisiti
  .github/labeler.yml
Labels: Actions

#88 DOC-196 Redazione requisiti di qualità
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB

#87 DOC-244 caricamento verbale 23-12-10
  2 - RTB/Documentazione interna/Verbali/23-12-10/23-12-10.typ
  2 - RTB/Documentazione interna/Verbali/23-12-10/log.csv
Labels: RTB, Verbale

#86 DOC-216 Verbale interno 23-12-06
  2 - RTB/Documentazione interna/Verbali/23-12-06/23-12-06.typ
  2 - RTB/Documentazione interna/Verbali/23-12-06/log.csv
Labels: RTB, Verbale

#85 DOC-215 Verbale esterno 23-12-06
  2 - RTB/Documentazione esterna/Verbali/23-12-06/23-12-06.typ
  2 - RTB/Documentazione esterna/Verbali/23-12-06/log.csv
Labels: RTB, Verbale

#89 DOC-246 Correzioni minori al verbale 23-12-06
  2 - RTB/Documentazione esterna/Verbali/23-12-06/23-12-06.typ
Labels: RTB, Verbale

#90 DOC-251 Rimozione regole Typst deprecate
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
  2 - RTB/Documentazione interna/Verbali/23-11-05/23-11-05.typ
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
Labels: RTB

#91 DOC-250 Correggere sezione degli UC del file Analisi dei requisiti
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei requisiti

#92 DOC-141 Redazione sezione Configuration Management process
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/imgs/esempio_tracciamento_modifiche.png
  2 - RTB/Documentazione interna/Norme di Progetto/imgs/flusso_actions.svg
  2 - RTB/Documentazione interna/Norme di Progetto/imgs/github_actions_workflow.png
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#94 DOC-197 Definzione requisiti di vincolo
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei requisiti

#98 DOC-228: Creato Glossario.json
  2 - RTB/Glossario/Glossario.json
  2 - RTB/Glossario/Glossario.typ
Labels: RTB, Glossario

#99 Sostituzione immagine con table nel paragrafo di configurazione
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/imgs/esempio_tracciamento_modifiche.png
Labels: RTB, Norme di Progetto

#93 DOC-222 Aggiunto consuntivo quinto sprint
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#101 DOC-268 Sostituzione immagine con table paragrafo configuration
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB

#103 DOC-224 Aggiunto preventivo sprint sei
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: RTB, Piano di Progetto

#102 DOC-226 Scomporre UC secondo feedback di Cardin
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc1.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc10.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc2.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc3.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc4.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc5.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc6.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc7.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc8.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc9.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#105 Aggiunto paragrafo Information Management
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#107 DOC-240 caricamento verbale interno 23-12-15
  2 - RTB/Documentazione interna/Verbali/23-12-15/23-12-15.typ
  2 - RTB/Documentazione interna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

#104 DOC-199 Aggiunta della figura del programmatore nel preventivo del quarto sprint
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#109 DOC-279 Caricamento verbale 23-12-17
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
  2 - RTB/Documentazione interna/Verbali/23-12-17/log.csv
Labels: RTB, Verbale

#108 DOC-236 Creato Piano di Qualifica e scritta introduzione
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB

#111 DOC-275 Revisione changelogger
  .github/workflows/fetch_info.yml
  log.csv
Labels: Actions

#113 DOC-282 Correggere path Glossario.json
  .github/workflows/compile_document.yml
  2 - RTB/Glossario/Glossario.typ
  2 - RTB/Glossario/log.csv
  Glossario.json
  template.typ
Labels: RTB, Glossario, Actions

#106 DOC-239 Caricamento verbale esterno 23-12-15
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
  2 - RTB/Documentazione esterna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

#115 DOC-274 Redigere consuntivo sprint 6
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#120 DOC-198 Includere ruolo programmatore per sprint precedenti
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  Glossario.json
Labels: RTB, Glossario, Piano di Progetto

#110 DOC-279 Correzione verbale 23-12-17
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
  2 - RTB/Documentazione interna/Verbali/23-12-17/log.csv
Labels: RTB, Verbale

#118 DOC-273 Redigere preventivo e pianificazione dello sprint 7
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#119 DOC-152 Aggiunto capitolo Processo di Gestione dei Rischi
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#122 DOC-248 Convertire automaticamente Typst in Markdown
  .github/scripts/parse_frontmatter.py
  .github/workflows/deploy_website.yml
Labels: Actions

#116 DOC-159 Redazione sezione Technical processes/Stakeholder Needs and Requirements Definition process
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#124 DOC-276 Revisionare file CSV
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
  log.csv
Labels: RTB

#123 DOC-194 Rendere gli UC in forma tabellare requisiti funzionali
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc1.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc2.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc4.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#129 DOC-293 Gestione varianti dei termini di Glossario
  .github/workflows/deploy_website.yml
  2 - RTB/Glossario/Glossario.typ
  2 - RTB/Glossario/log.csv
  Glossario.json
  template.typ
Labels: RTB, Glossario, Actions

#128 DOC-195 Implementare tracciamento requisito fonte
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#125 DOC-155 redigere sezione technical management processes: measurement process
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#127 DOC-292 Revisione del capitolo processo di gestione dei rischi
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#133 DOC-290 Redigere consuntivo sprint 7
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto
