Repository Error-418-SWE/Documenti, pull requests merged in 2024-03, with the labels that each got.

#341 DOC-537 Redigere consuntivo Sprint 16
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: PB, Piano di Progetto

#342 DOC-542 Redigere introduzione Specifica Tecnica
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/log.csv
Labels: PB

#338 DOC-540 Redigere verbale retrospettiva 25/02/2024
  3 - PB/Documentazione interna/Verbali/24-02-25/24-02-25.typ
  3 - PB/Documentazione interna/Verbali/24-02-25/log.csv
  3 - PB/Documentazione interna/Verbali/24-02-25/tasks.json
Labels: PB, Verbale

#343 DOC-550 Redigere verbale meeting esterno 29/02/2024
  3 - PB/Documentazione esterna/Verbali/24-02-29/24-02-29.typ
  3 - PB/Documentazione esterna/Verbali/24-02-29/log.csv
Labels: PB, Verbale

#344 DOC-551 Redigere verbale meeting interno 29/02/2024
  3 - PB/Documentazione interna/Verbali/24-02-29/24-02-29.typ
  3 - PB/Documentazione interna/Verbali/24-02-29/log.csv
Labels: PB, Verbale

#347 DOC-164 Redigere sezione Technical Processes/Implementation Process
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#339 DOC-165 Aggiunto capitolo "Processo di integrazione"
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: PB, Norme di Progetto

#348 DOC-552 Rinominare verbale 18/02/24
  3 - PB/Documentazione interna/Verbali/23-02-18/log.csv
  3 - PB/Documentazione interna/Verbali/24-02-18/24-02-18.typ
  3 - PB/Documentazione interna/Verbali/24-02-18/log.csv
  3 - PB/Documentazione interna/Verbali/24-02-18/tasks.json
Labels: PB, Verbale

#346 DOC-166 Aggiunto paragrafo "Processo di verifica"
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: PB, Norme di Progetto

#345 DOC-538 Redigere preventivo sprint 17
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
Labels: PB, Piano di Progetto

#350 DOC-561 Individuare struttura documento
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
Labels: PB

#351 DOC-554 Redigere preventivo dello Sprint 18
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: PB, Piano di Progetto

#357 DOC-555 Redigere verbale interno 03/03/2024
  3 - PB/Documentazione interna/Verbali/24-03-03/24-03-03.typ
  3 - PB/Documentazione interna/Verbali/24-03-03/log.csv
  3 - PB/Documentazione interna/Verbali/24-03-03/tasks.json
Labels: PB, Verbale

#355 DOC-558 Redigere verbale interno 07/03/2024
  3 - PB/Documentazione interna/Verbali/24-03-07/24-03-07.typ
  3 - PB/Documentazione interna/Verbali/24-03-07/log.csv
Labels: PB, Verbale

#353 DOC-557 Redigere verbale esterno 07/03/2024
  3 - PB/Documentazione esterna/Verbali/24-03-07/24-03-07.typ
  3 - PB/Documentazione esterna/Verbali/24-03-07/log.csv
Labels: PB, Verbale

#358 DOC-553 Redigere consuntivo di periodo Sprint 17
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: PB, Piano di Progetto

#356 DOC-562 Redigere sezione database
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/imgs/ER.png
Labels: PB

#354 DOC-556 Redigere verbale interno 24-03-06
  3 - PB/Documentazione interna/Verbali/24-03-06/24-03-06.typ
  3 - PB/Documentazione interna/Verbali/24-03-06/log.csv
  3 - PB/Documentazione interna/Verbali/24-03-06/tasks.json
Labels: PB, Verbale

#359 DOC-168 Redigere sezione Technical Processes/Validation Process
  .gitignore
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  documents.json
Labels: PB, Norme di Progetto

#360 DOC-563 Redigere sezione Tecnologie
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/log.csv
Labels: PB

#362 DOC-571 Ampliare definizioni
  Glossario.json
Labels: Glossario

#364 DOC-594 Redigere sezione Supporto tecnico
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
Labels: PB

#363 DOC-167 Redigere sezione Technical Processes/Transition Process
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#365 DOC-592 Redigere sezione Installazione
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB

#368 DOC-591 aggiungere sezione requisiti
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
  documents.json
Labels: PB

#370 DOC-598 Modifiche a sezione database
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/imgs/ER.png
  3 - PB/Documentazione esterna/Specifica Tecnica/log.csv
Labels: PB

#369 DOC-600 Rimozione sezione installazione da MU e aggiunta a ST
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
Labels: PB

#375 DOC-601 Redigere verbale esterno 15/03/2024
  3 - PB/Documentazione esterna/Verbali/24-03-15/24-03-15.typ
  3 - PB/Documentazione esterna/Verbali/24-03-15/log.csv
Labels: PB, Verbale

#371 DOC-584 Redigere consuntivo di periodo Sprint 18
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
Labels: PB, Piano di Progetto

#372 DOC-588 Redigere verbale di retrospettiva 10/03/2024
  3 - PB/Documentazione interna/Verbali/24-03-10/24-03-10.typ
  3 - PB/Documentazione interna/Verbali/24-03-10/log.csv
  3 - PB/Documentazione interna/Verbali/24-03-10/tasks.json
Labels: PB, Verbale

#374 DOC-583 Redigere preventivo dello Sprint 19
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  documents.json
Labels: PB, Piano di Progetto

#376 DOC-606 Aggiungere sezione requisiti
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/log.csv
Labels: PB

#377 DOC-607 Rimuovere sezione requisiti sistema e hardware
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB

#366 DOC-577 Estendere UC
  3 - PB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  3 - PB/Documentazione esterna/Analisi dei Requisiti/Requisiti.json
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC1.1.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC1.2.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC1.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC10.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC11.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC12.4.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC12.5.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC12.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC13.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC14.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC15.6.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC15.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC16.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC17.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC18.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC19.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC2.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC20.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC21.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC22.1.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC22.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC23.1.1.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC23.2.1.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC23.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC24.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC25.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC26.1.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC26.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC27.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC3.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC4.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC5.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC7.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC8.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/UC9.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc1.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc10.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc11.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc2.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc3.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc4.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc5.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc6.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc7.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc8.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc9.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/zona.svg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/log.csv
  3 - PB/Documentazione esterna/Analisi dei Requisiti/requirements.json
  documents.json
Labels: PB, Analisi dei requisiti

#379 DOC-546 Aggiornamento changelog a seguito di merge
  3 - PB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: PB

#381 Bloccata conversione di common.typ per sito web
  .github/workflows/deploy_website.yml
Labels: Actions

#378 DOC-602 Redigere verbale interno 15/03/2024
  3 - PB/Documentazione interna/Verbali/24-03-15/24-03-15.typ
  3 - PB/Documentazione interna/Verbali/24-03-15/log.csv
Labels: PB, Verbale

#383 DOC-626 Scrivere guida per configurazione ambiente
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/avvio.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/piano_personalizzato.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/piano_rettangolare.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/planimetria_personalizzata.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/planimetria_rettangolare.png
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB

#382 DOC-627 Aggiunto capitolo "Creazione zona"
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB

#386 DOC-632 Scrivere sezione movimento camera
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/mouse_rotella.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/mouse_tasto_destro.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/mouse_tasto_sinistro.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/panning_1.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/panning_2.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/piano_personalizzato.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/rotazione_1.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/rotazione_2.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/zoom-in.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/zoom-out.png
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB

#388 DOC-633 Correzione errore requisito ID zone
  3 - PB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  3 - PB/Documentazione esterna/Analisi dei Requisiti/requirements.json
  3 - PB/Documentazione esterna/Specifica Tecnica/requirements.json
  documents.json
Labels: PB, Analisi dei requisiti

#389 DOC-634 Correggere visualizzazione SVG workflow automazioni
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/imgs/flusso_actions.svg
  3 - PB/Documentazione interna/Norme di Progetto/imgs/github_actions_workflow.png
  3 - PB/Documentazione interna/Norme di Progetto/imgs/workflow_actions.svg
Labels: PB, Norme di Progetto

#387 DOC-622 Aggiornare descrizione repo WMS3
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#394 DOC-624 Redigere preventivo di periodo Sprint 20
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: PB, Piano di Progetto

#384 DOC-623 Redigere consuntivo di periodo Sprint 19
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
Labels: PB, Piano di Progetto

#390 DOC-629 Redigere sezione impostazioni
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/impostazioni.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/ridimensionamento.png
Labels: PB

#373 DOC-605 Redigere verbale interno 17/03/2024
  3 - PB/Documentazione interna/Verbali/24-03-17/24-03-17.typ
  3 - PB/Documentazione interna/Verbali/24-03-17/log.csv
  3 - PB/Documentazione interna/Verbali/24-03-17/tasks.json
Labels: PB, Verbale

#396 DOC-639 Estendere e migliorare manuale utente
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/creazione_zone_1.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/creazione_zone_2.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/creazione_zone_3.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/keyboard_arrow.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/keyboard_shift.jpg
  3 - PB/Documentazione esterna/Manuale Utente/imgs/keyboard_wasd.jpg
  documents.json
Labels: PB

#395 DOC-628 Aggiunto capitolo "Modifica zona"
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
Labels: PB

#397 DOC-621 Revisionata sezione Transition process
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#399 DOC-642 Redigere sezione spostamento prodotto
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/spostamento_drag_and_drop.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/spostamento_non_collocato.png
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB

#401 DOC-647 Corretto link al PdP
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#393 DOC-638 Redigere verbale interno 22/03/2024
  3 - PB/Documentazione interna/Verbali/24-03-22/24-03-22.typ
  3 - PB/Documentazione interna/Verbali/24-03-22/log.csv
Labels: PB, Verbale

#392 DOC-637 Redigere verbale esterno 22/03/2024
  3 - PB/Documentazione esterna/Verbali/24-03-22/24-03-22.typ
  3 - PB/Documentazione esterna/Verbali/24-03-22/log.csv
Labels: PB, Verbale

#367 DOC-567 Redatte sezioni "Struttura", "Design pattern utilizzati" e "Classi e Componenti"
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/imgs/Business Layer classes.svg
  3 - PB/Documentazione esterna/Specifica Tecnica/imgs/Business Layer floor.svg
  3 - PB/Documentazione esterna/Specifica Tecnica/imgs/Business Layer search.svg
  3 - PB/Documentazione esterna/Specifica Tecnica/imgs/Persistence Layer patterns class diagram.svg
  3 - PB/Documentazione esterna/Specifica Tecnica/imgs/layeredArchitecture.png
  3 - PB/Documentazione esterna/Specifica Tecnica/log.csv
Labels: PB

#403 Aggiornata configurazione Manuale Utente
  .github/labeler.yml
Labels: Actions

#398 DOC-644 Aggiornata descrizione rimozione colonne
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB, Manuale Utente

#405 DOC-653 Correzione changelog
  3 - PB/Documentazione esterna/Specifica Tecnica/log.csv
Labels: PB

#404 DOC-645 Redigere sezione ispezione bin/scaffale
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/ispezione_1.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/ispezione_2.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/ispezione_3.png
  documents.json
Labels: PB, Manuale Utente

#400 DOC-619 Revisionare sezione Verification process
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#391 DOC-617 Revisionare sezione Processo di implementazione
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
  documents.json
Labels: PB, Norme di Progetto

#409 DOC-658 Definire template per il manuale utente
  common.typ
  logo_wms3.svg
  quickstart.txt
  template_modern.typ
Labels: PB, Manuale Utente

#411 DOC-659 Aggiornare template Manuale Utente
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  template_modern.typ
Labels: PB, Manuale Utente

#416 DOC-662 Redatta sezione "Eliminazione zona"
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/conferma_eliminazione_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_eliminazione_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB, Manuale Utente

#417 DOC-661 Aggiunte immagini a capitolo modifica zona
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_modifica_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_salvataggio_modifiche_zona.png
  documents.json
Labels: PB, Manuale Utente

#402 DOC-646 Redatto verbale esterno 24-03-26
  3 - PB/Documentazione esterna/Verbali/24-03-26/24-03-26.typ
  3 - PB/Documentazione esterna/Verbali/24-03-26/log.csv
  documents.json
Labels: PB, Verbale

#419 DOC-666 Aggiunta sezione "Visualizzazione lista zone"
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/creazione_zone_1.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/creazione_zone_2.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/lista_zone.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pannello_nuova_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_cestino_zone.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_crea_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_nuova_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_zone.png
  documents.json
Labels: PB, Manuale Utente
