Repository Error-418-SWE/Documenti, pull requests merged in 2024-01, with the labels that each got.

#134 DOC-252 Aggiornare preamboli dei documenti al template attuale
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-23/23-11-23.typ
  2 - RTB/Documentazione esterna/Verbali/23-12-06/23-12-06.typ
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Verbali/23-11-05/23-11-05.typ
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
  2 - RTB/Documentazione interna/Verbali/23-11-19/23-11-19.typ
  2 - RTB/Documentazione interna/Verbali/23-11-23/23-11-23.typ
  quickstart.txt
Labels: RTB, Analisi dei requisiti, Norme di Progetto, Piano di Progetto, Verbale

#137 DOC-247 Aggiunta chiamata al workflow di deploy
  .github/workflows/typst_workflow.yml
  log.csv
Labels: Actions

#126 DOC-156 Redigere sezione quality assurance
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#130 DOC-298 Redazione verbale 23-12-23
  2 - RTB/Documentazione interna/Verbali/23-12-23/23-12-23.typ
  2 - RTB/Documentazione interna/Verbali/23-12-23/log.csv
Labels: RTB, Verbale

#132 DOC-269 Individuare metriche piano di qualifica
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB

#135 DOC-291 Redigere preventivo e pianificazione sprint 8
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#136 DOC-158 Redazione sezione Business or Mission Analysis process
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#139 DOC-300 Allineamento rows tabelle
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB

#142 DOC-302 Aggiornato Pandoc a 3.1.11
  .github/workflows/deploy_website.yml
Labels: Actions

#143 DOC-303 Rimosso blocco di codice Typst non riconosciuto da Pandoc
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#144 DOC-304 Completare tabella tracciamento requisito-fonte
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc10.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc11.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc9.png
Labels: RTB, Analisi dei requisiti

#138 DOC-299 Redigere verbale 23-12-31
  2 - RTB/Documentazione interna/Verbali/23-12-31/23-12-31.typ
  2 - RTB/Documentazione interna/Verbali/23-12-31/log.csv
Labels: RTB, Verbale

#145 DOC-288 Aggiornato il documento analisi dei rischi in typst in base alle norme di progetto
  2 - RTB/Documentazione interna/Analisi dei rischi/Analisi dei rischi.typ
  2 - RTB/Documentazione interna/Analisi dei rischi/log.csv
Labels: RTB, Analisi dei rischi

#146 DOC-305 Corretto deploy dei verbali
  .github/workflows/deploy_website.yml
Labels: Actions

#147 DOC-270 Aggiunto riferimento allo stato "In verifica" nel Processo di gestione della configurazione
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#148 DOC-325 Revisionare verbale esterno 23-12-15
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
  2 - RTB/Documentazione esterna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

#149 DOC-320 Revisionare verbale interno 23-12-23
  2 - RTB/Documentazione interna/Verbali/23-12-23/23-12-23.typ
  2 - RTB/Documentazione interna/Verbali/23-12-23/log.csv
Labels: RTB, Verbale

#150 DOC-308 Revisionare verbale interno 23-11-05
  2 - RTB/Documentazione interna/Verbali/23-11-05/23-11-05.typ
  2 - RTB/Documentazione interna/Verbali/23-11-05/log.csv
Labels: RTB, Verbale

#151 DOC-309 Revisionare verbale interno 23-11-10
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
  2 - RTB/Documentazione interna/Verbali/23-11-10/log.csv
Labels: RTB, Verbale

#157 DOC-317 Revisionare verbale interno 23-12-10
  2 - RTB/Documentazione interna/Verbali/23-12-10/23-12-10.typ
  2 - RTB/Documentazione interna/Verbali/23-12-10/log.csv
Labels: RTB, Verbale

#156 DOC-316 Revisionare verbale interno 23-12-07
  2 - RTB/Documentazione interna/Verbali/23-12-07/23-12-07.typ
  2 - RTB/Documentazione interna/Verbali/23-12-07/log.csv
Labels: RTB, Verbale

#155 DOC-315 Revisionare verbale interno 23-12-06
  2 - RTB/Documentazione interna/Verbali/23-12-06/23-12-06.typ
  2 - RTB/Documentazione interna/Verbali/23-12-06/log.csv
Labels: RTB, Verbale

#154 DOC-323 Revisionare verbale esterno 23-11-23
  2 - RTB/Documentazione esterna/Verbali/23-11-23/23-11-23.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-23/log.csv
Labels: RTB, Verbale

#152 DOC-310 Revisionare verbale interno 23-11-13
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
  2 - RTB/Documentazione interna/Verbali/23-11-13/log.csv
Labels: RTB, Verbale

#153 DOC-322 Revisionare verbale esterno 23-11-15
  2 - RTB/Documentazione esterna/Verbali/23-11-15/23-11-15.typ
  2 - RTB/Documentazione esterna/Verbali/23-11-15/log.csv
Labels: RTB, Verbale

#158 DOC-311 Revisionare verbale interno 23-11-19
  2 - RTB/Documentazione interna/Verbali/23-11-19/23-11-19.typ
Labels: RTB, Verbale

#161 DOC-327 Revisionare verbale interno 23-12-03
  2 - RTB/Documentazione interna/Verbali/23-12-03/23-12-03.typ
  2 - RTB/Documentazione interna/Verbali/23-12-03/log.csv
Labels: RTB, Verbale

#160 DOC-313 Revisionare verbale interno 23-11-26
  2 - RTB/Documentazione interna/Verbali/23-11-26/23-11-26.typ
  2 - RTB/Documentazione interna/Verbali/23-11-26/log.csv
Labels: RTB, Verbale

#162 DOC-314 Revisionare verbale interno 23-12-04
  2 - RTB/Documentazione interna/Verbali/23-12-04/23-12-04.typ
  2 - RTB/Documentazione interna/Verbali/23-12-04/log.csv
Labels: RTB, Verbale

#164 DOC-59 Aggiunto spell checking con ChatGPT
  .github/scripts/spell_checker.py
  .github/workflows/check_spelling.yml
  log.csv
Labels: Actions

#159 DOC-312 Revisionare verbale interno 23-11-23
  2 - RTB/Documentazione interna/Verbali/23-11-23/23-11-23.typ
  2 - RTB/Documentazione interna/Verbali/23-11-23/log.csv
Labels: RTB, Verbale

#167 DOC-305 Riscrittura transpiler del preambolo Typst
  .github/scripts/parse_frontmatter.py
  log.csv
Labels: Actions

#169 DOC-305 Passaggio dei dati del frontmatter al component
  .github/workflows/deploy_website.yml
Labels: Actions

#176 DOC-350 Aggiunto step per installazione libreria OpenAI
  .github/workflows/check_spelling.yml
  log.csv
Labels: Actions

#174 DOC-340 Workflow Typst dopo aggiornamento del log
  .github/workflows/typst_log_workflow.yml
  log.csv
Labels: Actions

#171 DOC-348 Aggiornato path per il labeler
  .github/labeler.yml
  log.csv
Labels: Actions

#170 DOC-253 Aggiornamento di Glossario.json aggiorna il glossario
  .github/workflows/fetch_info.yml
  .github/workflows/typst_workflow.yml
  log.csv
Labels: Actions

#173 DOC-333 Modificato log.csv documento analisi dei rischi
  2 - RTB/Documentazione interna/Analisi dei rischi/log.csv
Labels: RTB

#177 DOC-350 Corretto spell checker
  .github/scripts/spell_checker.py
  .github/workflows/check_spelling.yml
  log.csv
Labels: Actions

#166 DOC-329 Revisionare Piano di Qualifica
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB

#178 DOC-258 Correggere dichiarazione tabelle analisi dei requisiti
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#185 DOC-347 Redazione verbale interno 08/01/2024
  2 - RTB/Documentazione interna/Verbali/24-01-08/24-01-08.typ
  2 - RTB/Documentazione interna/Verbali/24-01-08/log.csv
Labels: RTB, Verbale

#180 DOC-328 Revisionare Piano di Progetto
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#186 DOC-362 Correzione dipendenze Python per parse_frontmatter.yml
  .github/workflows/deploy_website.yml
Labels: Actions

#163 DOC-289 Aggiornato il link relativo al documento Analisi dei rischi nelle norme di progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#188 DOC-364 Rinominato documento e path file Analisi dei Rischi in src
  2 - RTB/Documentazione interna/Analisi dei Rischi/Analisi dei Rischi.typ
  2 - RTB/Documentazione interna/Analisi dei Rischi/log.csv
  2 - RTB/Documentazione interna/Analisi dei rischi/log.csv
Labels: RTB

#189 DOC-351 Aggiunto link al documento PDF nel sito web
  .github/scripts/parse_frontmatter.py
  .github/workflows/deploy_website.yml
  .github/workflows/release_typst.yml
  .github/workflows/release_typst_log.yml
  .github/workflows/release_typst_ondemand.yml
Labels: Actions

#190 DOC-351 Aggiornato link ai documenti
  .github/scripts/parse_frontmatter.py
Labels: Actions

#184 DOC-355 Revisione sezione Processi di accordo
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#172 DOC-326 Ultimi capitoli e review in ottica RTB
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#194 Aggiornata struttura URL
  .github/scripts/parse_frontmatter.py
Labels: Actions

#192 DOC-365 Redazione verbale interno 08/01/2024
  2 - RTB/Documentazione interna/Verbali/24-01-14/24-01-14.typ
  2 - RTB/Documentazione interna/Verbali/24-01-14/log.csv
Labels: RTB, Verbale

#197 DOC-374 Rimosso contenuto testuale dei documenti
  .github/scripts/parse_frontmatter.py
  .github/workflows/deploy_website.yml
Labels: Actions

#195 DOC-280: aggiungere tabella con totali requisiti in calce al documento
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#179 DOC-352 Correzione UC-1, UC-2
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc1.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc2.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#196 DOC-361 Redigere preventivo sprint 11
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#191 DOC-371 Estensione UC 3/4
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#199 DOC-338 Aggiornato consuntivo Sprint 8
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#193 DOC-372 Redigere verbale interno 02-01-2024
  2 - RTB/Documentazione interna/Verbali/24-01-02/24-01-02.typ
  2 - RTB/Documentazione interna/Verbali/24-01-02/log.csv
Labels: RTB, Verbale

#198 DOC-336 Aggiornato preventivo Sprint 9
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#200 DOC-370 Redigere verbale 17-01-24
  2 - RTB/Documentazione interna/Verbali/24-01-17/24-01-17.typ
  2 - RTB/Documentazione interna/Verbali/24-01-17/log.csv
Labels: RTB, Verbale

#203 Aggiornato regex
  .github/scripts/parse_frontmatter.py
Labels: Actions

#202 DOC-368 Redigere lettera di presentazione RTB
  2 - RTB/Lettera di presentazione/Lettera di presentazione RTB.typ
  2 - RTB/Lettera di presentazione/log.csv
Labels: RTB

#204 Adeguamento preambolo
  .github/scripts/parse_frontmatter.py
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  2 - RTB/Glossario/Glossario.typ
  2 - RTB/Glossario/log.csv
Labels: RTB, Analisi dei requisiti, Glossario, Piano di Progetto, Piano di qualifica, Actions

#205 Disattivato job di transpile
  .github/workflows/deploy_website.yml
Labels: Actions

#206 DOC-366 Rivedere definizioni del glossario
  2 - RTB/Glossario/log.csv
  Glossario.json
Labels: RTB, Glossario

#207 Uniformati i sottotitoli dei verbali
  2 - RTB/Documentazione esterna/Verbali/23-11-23/23-11-23.typ
  2 - RTB/Documentazione esterna/Verbali/23-12-06/23-12-06.typ
  2 - RTB/Documentazione esterna/Verbali/23-12-15/23-12-15.typ
  2 - RTB/Documentazione interna/Verbali/23-11-10/23-11-10.typ
  2 - RTB/Documentazione interna/Verbali/23-11-13/23-11-13.typ
  2 - RTB/Documentazione interna/Verbali/23-11-19/23-11-19.typ
  2 - RTB/Documentazione interna/Verbali/23-11-23/23-11-23.typ
  2 - RTB/Documentazione interna/Verbali/23-11-26/23-11-26.typ
  2 - RTB/Documentazione interna/Verbali/23-12-03/23-12-03.typ
  2 - RTB/Documentazione interna/Verbali/23-12-04/23-12-04.typ
  2 - RTB/Documentazione interna/Verbali/23-12-06/23-12-06.typ
  2 - RTB/Documentazione interna/Verbali/23-12-07/23-12-07.typ
  2 - RTB/Documentazione interna/Verbali/23-12-10/23-12-10.typ
  2 - RTB/Documentazione interna/Verbali/23-12-15/23-12-15.typ
  2 - RTB/Documentazione interna/Verbali/23-12-17/23-12-17.typ
  2 - RTB/Documentazione interna/Verbali/24-01-02/24-01-02.typ
Labels: RTB, Verbale

#209 DOC-365 Inserito contenuto nel log
  2 - RTB/Documentazione interna/Verbali/24-01-08/log.csv
Labels: RTB, Verbale

#208 DOC-240 Inserito contenuto nel log
  2 - RTB/Documentazione interna/Verbali/23-12-15/log.csv
Labels: RTB, Verbale

#210 DOC-356 Revisione sezione Processi di supporto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#211 DOC-381: Redigere verbale di retrospettiva 21/01/24
  2 - RTB/Documentazione interna/Verbali/24-01-21/24-01-21.typ
  2 - RTB/Documentazione interna/Verbali/24-01-21/log.csv
Labels: RTB, Verbale

#213 DOC-389 Rimosso riferimento a PowerPoint
  2 - RTB/Documentazione interna/Verbali/24-01-21/24-01-21.typ
  2 - RTB/Documentazione interna/Verbali/24-01-21/log.csv
Labels: RTB, Verbale
