Repository Error-418-SWE/Documenti, pull requests merged in 2024-02, with the labels that each got.

#212 DOC-386 Corretto totale requisiti funzionali
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#217 DOC-394 Specificare dati necessari alla creazione dello scaffale UC3.1
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#216 DOC-413 DOC-414 Ridefinire VM1 e VM2 come funzionali
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#214 DOC 388: Redigere verbale di retrospettiva del 24-01-28
  2 - RTB/Documentazione interna/Verbali/24-01-28/24-01-28.typ
  2 - RTB/Documentazione interna/Verbali/24-01-28/log.csv
Labels: RTB, Verbale

#215 DOC-390 Redatto verbale 24-02-04
  2 - RTB/Documentazione interna/Verbali/24-02-04/24-02-04.typ
  2 - RTB/Documentazione interna/Verbali/24-02-04/log.csv
Labels: RTB, Verbale

#229 DOC-423: Rimozione paragrafo 3
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#218 DOC-395 Specificati i valori che possono essere modificati durante la modifica di uno scaffale
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#232 DOC-417 Inserita versione Glossario nelle Norme di Progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#233 DOC-392 Inserita versione Glossario nel documento Analisi dei Requisiti
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#230 DOC-425 Revisionare paragrafo 5.1 delle Norme di Progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#239 DOC-422 Definire metriche adatte al nostro progetto
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: RTB, Piano di qualifica

#237 DOC-426 Revisionare paragrafo 5.2 delle Norme di Progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#219 DOC 396 Specificato più dettagliatamente l'UC-4.1
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#220 DOC-397 Specificato più dettagliatamente l'UC-4.2
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#221 DOC-405 Modificare interrogazione con visualizzazione UC8
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc8.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#223 DOC-407 Modificare interrogazione con visualizzazione UC9
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc9.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#224 DOC-408 Specificare informazioni visualizzate UC9
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#225 DOC-393 Specificati i valori di interesse relativi al ridimensionamento dell'ambiente di lavoro
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#240 DOC-412 Aggiunta redazione di manuale d'uso ai requisiti di qualità
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#231 DOC-277 Mappare paragrafi alle clausole del ISO/IEC/IEEE 12207:2017
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#235 DOC-424 Revisione capitolo 4
  .gitignore
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#222 DOC-406 Specificare informazioni visualizzate UC8
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#242 DOC-399 Impostare il database come elemento interno del sistema UC6
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc6.png
Labels: RTB

#245 DOC-473 Rimuovere database come attore secondario esterno in UC 10
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc10.png
Labels: RTB

#246 DOC-472 Rimuovere database come attore secondario esterno in UC 9
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc9.png
Labels: RTB

#247 DOC-471 Rimuovere database come attore secondario esterno in UC 8
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc8.png
Labels: RTB

#253 DOC-401 Rimuovere caso "UC6" interno all'UC6 e iniziare direttamente da UC6.1
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc6.png
Labels: RTB

#226 DOC-409 Specificare spostamento della visuale UC11.1
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc11.png
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#234 DOC-410 Specificare rotazione della visuale UC11.2
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#236 DOC-411 Specificare zoom della visuale UC11.3
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#228 DOC-378 Refactor Piano di Progetto
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#254 DOC-430: Revisione paragrafo 5.6
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#243 DOC-400 Specificare le informazioni necessarie al collegamento con il database UC6.1
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#248 DOC-433 Revisione capitolo 6.1
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#249 DOC-434 Revisione capitolo 6.2
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#250 DOC-415 Ridefinire VM3 in modo chiaro e verificabile
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei requisiti

#256 DOC-403 Definire le API come elementi interni e non come attori secondari UC7
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc7.png
Labels: RTB

#238 DOC-427 Revisionare paragrafo 5.3 delle Norme di Progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#261 DOC-436 Aggiunte variabili per riferirsi ad elementi ripetuti in Typst
  .github/workflows/register_version.yml
  .github/workflows/release_typst.yml
  .github/workflows/release_typst_log.yml
  common.typ
  documents.json
  log.csv
  template.typ
Labels: Actions

#257 DOC-431: Revisione paragrafo 5.7
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#263 DOC-464 Aggiunte date di ultimo accesso
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#266 DOC-467 Aggiunte date di ultimo accesso
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei requisiti

#269 DOC-463 Aggiunte dipendenze per la compilazione
  .github/workflows/compile_document.yml
Labels: Actions

#259 DOC-432 Revisionare paragrafo Controllo della Qualità delle Norme di Progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#260 DOC-404 Rivedere termine richiesta UC7
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/imgs/uc7.png
Labels: RTB, Analisi dei requisiti

#267 DOC-402 Specificare cosa sono le API UC7
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
Labels: RTB, Analisi dei requisiti

#271 Aggiunto step di configurazione di git
  .github/workflows/register_version.yml
Labels: Actions

#241 DOC-367 Estensione Glossario
  2 - RTB/Glossario/log.csv
  Glossario.json
Labels: Glossario

#274 DOC-367 Corretta versione del Glossario
  2 - RTB/Glossario/log.csv
Labels: RTB

#273 DOC-367 Estendere definizioni del glossario
  Glossario.json
Labels: Glossario

#270 DOC-476 Redigere consuntivo di periodo sprint 14
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
Labels: RTB, Piano di Progetto

#251 DOC-428 Revisionare paragrafo 5.4 delle Norme di Progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#268 DOC-416 Inserire tracciamento casi d'uso-requisiti
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Requisiti.json
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#279 DOC-484 Aggiungere menzione a Grafana
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  2 - RTB/Documentazione esterna/Piano di Qualifica/log.csv
  common.typ
Labels: RTB, Piano di qualifica

#252 DOC-429 Revisionare paragrafo Gestione della Configurazione delle Norme di Progetto
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#280 DOC-455 Disattivato spell-checker
  .github/workflows/check_spelling.yml
Labels: Actions

#281 DOC-485: Revisionare Norme di Progetto con spell checker
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  2 - RTB/Documentazione interna/Norme di Progetto/log.csv
Labels: RTB, Norme di Progetto

#282 DOC-474: Rimozione capitolo 3
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: RTB, Norme di Progetto

#283 Corretto typo nel nome del gruppo
  2 - RTB/Lettera di presentazione/Lettera di presentazione RTB.typ
  2 - RTB/Lettera di presentazione/log.csv
Labels: RTB

#284 DOC-457 Uniformare sezione Riferimenti
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  2 - RTB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  common.typ
Labels: RTB, Analisi dei requisiti, Norme di Progetto, Piano di Progetto, Piano di qualifica

#285 Corretto numero di versione Analisi dei Rischi
  2 - RTB/Documentazione interna/Analisi dei Rischi/Analisi dei Rischi.typ
  2 - RTB/Documentazione interna/Analisi dei Rischi/log.csv
Labels: RTB

#287 Aggiunto statement di importazione
  2 - RTB/Lettera di presentazione/Lettera di presentazione RTB.typ
  2 - RTB/Lettera di presentazione/log.csv
Labels: RTB

#289 Disattivati indici non significativi
  2 - RTB/Documentazione interna/Analisi dei Rischi/Analisi dei Rischi.typ
  2 - RTB/Documentazione interna/Analisi dei Rischi/log.csv
Labels: RTB

#278 DOC-477 Redigere preventivo di periodo Sprint 15
  2 - RTB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  2 - RTB/Documentazione esterna/Piano di Progetto/log.csv
  Glossario.json
Labels: RTB, Glossario, Piano di Progetto

#290 DOC-478 Rimuovere tabella dal verbale interno 03-12-2024
  2 - RTB/Documentazione interna/Verbali/23-12-03/23-12-03.typ
  2 - RTB/Documentazione interna/Verbali/23-12-03/log.csv
Labels: RTB, Verbale

#292 DOC-453 Aggiornamento Action
  .github/workflows/check_spelling.yml
  .github/workflows/compile_document.yml
  .github/workflows/deploy_website.yml
  .github/workflows/release_typst.yml
  .github/workflows/release_typst_log.yml
  .github/workflows/release_typst_ondemand.yml
  .github/workflows/version_document.yml
Labels: Actions

#293 DOC-96 Fornire un link all'artifact prodotto durante la compilazione
  .github/workflows/comment_artifact_link.yml
  .github/workflows/compile_document.yml
  .github/workflows/release_typst.yml
Labels: Actions

#276 DOC-475 Redigere verbale di retrospettiva 11/02/2024
  2 - RTB/Documentazione interna/Verbali/24-02-11/24-02-11.typ
  2 - RTB/Documentazione interna/Verbali/24-02-11/log.csv
Labels: RTB, Verbale

#294 DOC-499 Definita la lista dei file richiesti per la compilazione in una varia…
  .github/workflows/compile_document.yml
Labels: Actions

#295 DOC-491 Predisporre repo per PB
  3 - PB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  3 - PB/Documentazione esterna/Analisi dei Requisiti/Requisiti.json
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc1.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc10.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc11.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc2.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc3.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc4.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc5.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc6.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc7.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc8.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/uc9.png
  3 - PB/Documentazione esterna/Analisi dei Requisiti/imgs/wms-tradizionale.jpg
  3 - PB/Documentazione esterna/Analisi dei Requisiti/log.csv
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
  3 - PB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  3 - PB/Documentazione esterna/Piano di Qualifica/log.csv
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/imgs/flusso_actions.svg
  3 - PB/Documentazione interna/Norme di Progetto/imgs/github_actions_workflow.png
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
  3 - PB/Glossario/Glossario.typ
  3 - PB/Glossario/log.csv
  3 - PB/Lettera di presentazione/Lettera di presentazione.typ
  common.typ
  documents.json
  log.csv
  template.typ
Labels: PB, Analisi dei requisiti, Glossario, Lettera di presentazione, Norme di Progetto, Piano di Progetto, Piano di qualifica

#303 DOC-501 Uso delle variabili per riferirsi ai documenti
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#302 DOC-502 Uso delle variabili per riferirsi ai documenti
  3 - PB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  3 - PB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: PB, Piano di qualifica

#301 DOC-503 Uso delle variabili per riferirsi ai documenti
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
Labels: PB, Piano di Progetto

#299 DOC-507 Uso delle variabili per riferirsi ai professori
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: PB, Piano di Progetto

#297 Corretto changelog
  3 - PB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: PB

#298 DOC-506 Uso delle variabili per riferirsi ai professori
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#296 DOC-489 Includere il contenuto della Analisi dei Rischi
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
Labels: PB, Piano di Progetto

#300 DOC-504 Uso delle variabili per riferirsi ai documenti
  3 - PB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  3 - PB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: PB, Analisi dei requisiti

#305 Corretto workflow non conforme
  .github/workflows/compile_document.yml
Labels: Actions

#307 DOC-527 Risoluzione typo
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  2 - RTB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: RTB, Analisi dei requisiti

#312 DOC-528 Aggiunte metriche mancanti
  3 - PB/Glossario/log.csv
  Glossario.json
Labels: Glossario

#316 DOC-524 Aggiunto Figma
  3 - PB/Glossario/log.csv
  Glossario.json
Labels: Glossario

#317 DOC-494 Aggiornare il riferimento all'Analisi dei Rischi in Norme di Progetto
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#314 DOC-511 Aggiunto paragrafo variabiali in Typst
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#311 DOC-520 Aggiornamento metriche allo sprint 15
  3 - PB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  3 - PB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: PB, Piano di qualifica

#318 DOC-161 Redigere sezione Technical Processes/Architecture Definition process
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#319 DOC-162 Redigere sezione Technical Processes / Design Definition process
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#321 DOC-526 Descrivere versionamento del software
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#313 DOC-492 Estesa analisi dei rischi
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
Labels: PB, Piano di Progetto

#310 DOC-522 Redigere verbale meeting di retrospettiva 18-02-2024
  3 - PB/Documentazione interna/Verbali/23-02-18/23-02-18.typ
  3 - PB/Documentazione interna/Verbali/23-02-18/log.csv
  3 - PB/Documentazione interna/Verbali/23-02-18/tasks.json
Labels: PB, Verbale

#322 DOC-514 Definire metriche di prodotto
  3 - PB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  3 - PB/Documentazione esterna/Piano di Qualifica/log.csv
Labels: PB, Piano di qualifica

#320 DOC-531 Approfondito UC6
  3 - PB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  3 - PB/Documentazione esterna/Analisi dei Requisiti/Requisiti.json
  3 - PB/Documentazione esterna/Analisi dei Requisiti/log.csv
Labels: PB, Analisi dei requisiti

#309 DOC-517 Redigere consuntivo di periodo Sprint 15
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
Labels: PB, Piano di Progetto

#323 DOC-515 Aggiunta struttura codificata ai rischi e loro opzioni di trattamento
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
Labels: PB, Piano di Progetto

#326 DOC-529 Aggiornare link riferimenti interni per PB
  3 - PB/Documentazione esterna/Analisi dei Requisiti/Analisi dei Requisiti.typ
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: PB, Analisi dei requisiti, Norme di Progetto, Piano di Progetto, Piano di qualifica

#324 DOC-521 Definire metriche di prodotto nelle Norme di Progetto
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#325 DOC-535 Correggere errore di registrazione versione
  .github/workflows/log_changes.yml
  .github/workflows/register_version.yml
  .github/workflows/release_typst.yml
  .github/workflows/release_typst_log.yml
Labels: Actions

#327 DOC-523 Redigere verbale esterno 22/02/24
  3 - PB/Documentazione esterna/Verbali/24-02-22/24-02-22.typ
  3 - PB/Documentazione esterna/Verbali/24-02-22/log.csv
Labels: PB, Verbale

#328 DOC-530 Redigere verbale interno 22/02/2024
  3 - PB/Documentazione interna/Verbali/24-02-22/24-02-22.typ
  3 - PB/Documentazione interna/Verbali/24-02-22/log.csv
Labels: PB, Verbale

#329 DOC-534 Aggiunte codifica e struttura nel paragrafo dei rischi
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto, Piano di Progetto

#330 DOC-146 Redigere sezione Organizational Project-Enabling processes/Quality Management process
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: PB, Norme di Progetto

#333 DOC-518 Redigere preventivo di periodo Sprint 16
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
Labels: PB, Piano di Progetto

#331 DOC-543 Redigere verbale design thinking 26/02/2024
  3 - PB/Documentazione interna/Verbali/24-02-26/24-02-26.typ
  3 - PB/Documentazione interna/Verbali/24-02-26/log.csv
Labels: PB, Verbale

#335 DOC-548 Aggiungere definizioni
  Glossario.json
Labels: Glossario

#337 DOC-547 Creazione documento Manuale Utente
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB

#334 DOC-545 Aggiornare i grafici di monitoraggio delle metriche
  3 - PB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
Labels: PB, Piano di qualifica
