Repository Error-418-SWE/Documenti, pull requests merged in 2024-04, with the labels that each got.

#420 DOC-663 Redazione sezione "Ispezione zona"
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/cubo_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pannello_ispezione_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_localizza_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_occhio_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB, Manuale Utente

#406 DOC-654 Estendere sezione Tecnologie
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/log.csv
Labels: PB, Specifica Tecnica

#410 DOC-657 Redigere sezione Architettura di Deployment
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/imgs/docker-env.png
Labels: PB, Specifica Tecnica

#407 DOC-618 Revisionare sezione Processo di Integrazione
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
  documents.json
Labels: PB, Norme di Progetto

#413 DOC-620 Revisionare capitolo Processo di Validazione
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#414 DOC-616 Revisionare sezione Gestione della Qualità
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  3 - PB/Documentazione interna/Norme di Progetto/log.csv
Labels: PB, Norme di Progetto

#422 DOC-640 Invertire posizione Architecture Definition Process ce Design Definition Process
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  documents.json
Labels: PB, Norme di Progetto

#421 DOC-665 Redazione sezione "Spostamento zona nell'ambiente 3D"
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/grid.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/spostamento_zona_rosso.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/spostamento_zona_verde.png
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB, Manuale Utente

#429 Rivisto layout verbale 26/03/2024
  3 - PB/Documentazione esterna/Verbali/24-03-26/24-03-26.typ
  3 - PB/Documentazione esterna/Verbali/24-03-26/log.csv
Labels: PB, Verbale

#425 DOC-667 Redigere sezione ricerca zona
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/bottone_lista_ordini.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/bottone_lista_prodotti.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/lista_ordini.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/lista_prodotti.png
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB, Manuale Utente

#426 DOC-664 Aggiunta sezione "Ispezione bin"
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pannello_bin_pieno.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pannello_bin_vuoto.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pannello_inserimento_prodotto.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_ispeziona_bin.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/zona_bin_selezionato.png
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB, Manuale Utente

#432 DOC-685 Sistemazione tag
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB, Manuale Utente

#431 DOC-670 Redazione sezione "Ispezione prodotto"
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pannello_ispezione_prodotto.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_ispezione_prodotto.png
  documents.json
Labels: PB, Manuale Utente

#427 DOC-678 Aggiungere JSX ai termini di Glossario
  3 - PB/Glossario/log.csv
  Glossario.json
Labels: Glossario

#428 DOC-682 Riorganizzare paragrafo tecnologie
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/log.csv
Labels: PB

#435 DOC-705 Separare tabelle di unit e integration test
  3 - PB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  documents.json
Labels: PB, Piano di qualifica

#436 DOC-706 Rimozione sezione Supporto tecnico
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB, Manuale Utente

#437 DOC-708 Revisione capitoli da 5.5 a 5.9
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
Labels: PB, Norme di Progetto

#438 DOC-710 Redigere sezione test di sistema
  3 - PB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  3 - PB/Documentazione esterna/Piano di Qualifica/integrationTest.json
  3 - PB/Documentazione esterna/Piano di Qualifica/log.csv
  3 - PB/Documentazione esterna/Piano di Qualifica/systemTest.json
  3 - PB/Documentazione esterna/Piano di Qualifica/unitTest.json
Labels: PB, Piano di qualifica

#439 DOC-697 Aggiunta sezione Esecuzione del software
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/log.csv
Labels: PB

#440 DOC-698 Aggiunta sezione Apertura del programma
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  documents.json
Labels: PB, Manuale Utente

#433 DOC-696 Aggiornare requisiti di sistema
  3 - PB/Documentazione esterna/Specifica Tecnica/Specifica Tecnica.typ
  3 - PB/Documentazione esterna/Specifica Tecnica/requirements.json
Labels: PB

#441 DOC-675 Aggiornare immagini
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/imgs/bottone_lista_ordini.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/bottone_lista_prodotti.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/piano_personalizzato.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/piano_rettangolare.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_cestino_zone.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_crea_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_eliminazione_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_ispeziona_bin.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_ispezione_prodotto.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_localizza_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_modifica_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_nuova_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_occhio_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_salvataggio_modifiche_zona.png
  3 - PB/Documentazione esterna/Manuale Utente/imgs/pulsante_zone.png
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
Labels: PB, Manuale Utente

#443 DOC-715 Redigere sezione test di accettazione
  3 - PB/Documentazione esterna/Piano di Qualifica/Piano di Qualifica.typ
  3 - PB/Documentazione esterna/Piano di Qualifica/acceptanceTest.json
  3 - PB/Documentazione esterna/Piano di Qualifica/integrationTest.json
  3 - PB/Documentazione esterna/Piano di Qualifica/log.csv
  3 - PB/Documentazione esterna/Piano di Qualifica/systemTest.json
  3 - PB/Documentazione esterna/Piano di Qualifica/unitTest.json
Labels: PB, Piano di qualifica

#442 DOC-709 Revisione generale del documento
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  documents.json
Labels: PB, Norme di Progetto

#446 DOC-711 Rimuovere requisito FD-145
  3 - PB/Documentazione esterna/Piano di Qualifica/systemTest.json
  3 - PB/Documentazione esterna/Specifica Tecnica/requirements.json
Labels: PB

#448 DOC-718 Aggiornare Glossario
  3 - PB/Glossario/log.csv
  Glossario.json
Labels: Glossario

#453 DOC-721 Risolto typo verbale 24-03-17
  3 - PB/Documentazione interna/Verbali/24-03-17/tasks.json
Labels: PB, Verbale

#454 DOC-721 Risolto typo verbale 24-03-06
  3 - PB/Documentazione interna/Verbali/24-03-06/24-03-06.typ
  3 - PB/Documentazione interna/Verbali/24-03-06/log.csv
Labels: PB, Verbale

#455 DOC-721 Risolto typo verbale 24-02-22
  3 - PB/Documentazione interna/Verbali/24-02-22/24-02-22.typ
  3 - PB/Documentazione interna/Verbali/24-02-22/log.csv
Labels: PB, Verbale

#456 DOC-721 Risolto typo verbale 24-02-18
  3 - PB/Documentazione interna/Verbali/24-02-18/24-02-18.typ
  3 - PB/Documentazione interna/Verbali/24-02-18/log.csv
Labels: PB, Verbale

#457 DOC-721 Risolto typo Piano di Progetto
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  3 - PB/Documentazione esterna/Piano di Progetto/log.csv
Labels: PB, Piano di Progetto

#447 DOC-707 Aggiungere glossario
  3 - PB/Documentazione esterna/Manuale Utente/Manuale Utente.typ
  3 - PB/Documentazione esterna/Manuale Utente/log.csv
  glossario_manuale_utente.json
  template_modern.typ
Labels: PB, Manuale Utente

#450 DOC-720 Aggiornare sistema tracciamento delle metriche del Piano di Qualifica
  3 - PB/Documentazione interna/Norme di Progetto/Norme di Progetto.typ
  documents.json
Labels: PB, Norme di Progetto

#424 DOC-679 Redigere verbale interno 30/03/2024
  3 - PB/Documentazione interna/Verbali/24-03-30/24-03-30.typ
  3 - PB/Documentazione interna/Verbali/24-03-30/log.csv
  3 - PB/Documentazione interna/Verbali/24-03-30/tasks.json
Labels: PB, Verbale

#434 DOC-704 Redigere verbale interno 07/04/2024
  3 - PB/Documentazione interna/Verbali/24-04-07/24-04-07.typ
  3 - PB/Documentazione interna/Verbali/24-04-07/log.csv
  3 - PB/Documentazione interna/Verbali/24-04-07/tasks.json
Labels: PB, Verbale

#412 DOC-641 Redigere verbale interno 24/03/2024
  3 - PB/Documentazione interna/Verbali/24-03-24/24-03-24.typ
  3 - PB/Documentazione interna/Verbali/24-03-24/log.csv
  3 - PB/Documentazione interna/Verbali/24-03-24/tasks.json
Labels: PB, Verbale

#464 Fix symlink corrotto
  3 - PB/Documentazione esterna/Analisi dei Requisiti/requirements.json
Labels: PB

#444 DOC-716 Redigere verbale interno 15/04/2024
  3 - PB/Documentazione interna/Verbali/24-04-15/24-04-15.typ
  3 - PB/Documentazione interna/Verbali/24-04-15/log.csv
  3 - PB/Documentazione interna/Verbali/24-04-15/tasks.json
Labels: PB, Verbale

#460 DOC-732 Aggiornare verbale di retrospettiva Sprint 16
  3 - PB/Documentazione interna/Verbali/24-02-25/24-02-25.typ
Labels: PB, Verbale

#462 DOC-734 Aggiornare verbale di retrospettiva Sprint 18
  3 - PB/Documentazione interna/Verbali/24-03-10/24-03-10.typ
Labels: PB, Verbale

#463 DOC-735 Rimuovere doppio simbolo dell'euro dal verbale del 07/04/2024
  3 - PB/Documentazione interna/Verbali/24-04-07/24-04-07.typ
Labels: PB, Verbale

#459 DOC-729 Redigere verbale di retrospettiva 21/04/2024
  3 - PB/Documentazione interna/Verbali/24-04-21/24-04-21.typ
  3 - PB/Documentazione interna/Verbali/24-04-21/log.csv
  3 - PB/Documentazione interna/Verbali/24-04-21/tasks.json
Labels: PB, Verbale

#445 DOC-687 Redigere preventivo e consuntivo di periodo
  3 - PB/Documentazione esterna/Piano di Progetto/Piano di Progetto.typ
  documents.json
Labels: PB, Piano di Progetto

#465 DOC-726 Aggiornata lettera di presentazione
  3 - PB/Lettera di presentazione/Lettera di presentazione.typ
  3 - PB/Lettera di presentazione/log.csv
Labels: PB, Lettera di presentazione
